/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container,
.input {
  all: initial;
}

.container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0 var(--sidebar-search-padding) var(--sidebar-search-padding);
  color: var(--sidebar-search-color);
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--sidebar-search-input-height);
  padding: 8px 12px 8px 44px;
  transition: padding var(--default-transition-duration) ease;
  letter-spacing: -0.2px;
  border-radius: var(--sidebar-search-border-radius);
  background-color: var(--sidebar-search-background-color);
  font-family: var(--sidebar-search-font-family);
  font-size: 15px;
  line-height: 18px;
  color: inherit;
  box-shadow: inset 0 0 0 1px var(--sidebar-search-border-color);


  &:focus {
    background-color: var(--sidebar-search-focus-background-color);
    box-shadow: inset 0 0 0 1px var(--sidebar-search-border-color-focus);
    color: var(--sidebar-search-focus-color);
  }

  &::-webkit-input-placeholder {
    color: var(--sidebar-search-placeholder-color);
  }

  &:-moz-placeholder {
    color: var(--sidebar-search-placeholder-color);
  }

  &::-moz-placeholder {
    color: var(--sidebar-search-placeholder-color);
  }

  &:-ms-input-placeholder {
    color: var(--sidebar-search-placeholder-color);
  }
}

.icon {
  position: absolute;
  top: 8px;
  left: calc(var(--sidebar-search-padding) + 10px);
  transition: opacity calc(var(--default-transition-duration)) ease;
  fill: var(--sidebar-search-color);
}
