/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --join-modal-font-family: var(--default-font-family);
  --join-modal-width: 600px;
  --join-modal-font-size: 18px;
  --join-modal-title-font-size: 34px;
  --join-modal-padding-top: 70px;
  --join-modal-padding-right: 50px;
  --join-modal-padding-bottom: 60px;
  --join-modal-padding-left: 50px;
}

.root {
  width: var(--join-modal-width);
  font-family: var(--join-modal-font-family);
  font-size: var(--join-modal-font-size);
}

.header {
  padding-top: var(--join-modal-padding-top);
  padding-right: var(--join-modal-padding-right);
  padding-bottom: 0;
  padding-left: var(--join-modal-padding-left);
  height: auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.body {
  padding-top: 0;
  padding-right: var(--join-modal-padding-right);
  padding-bottom: 0;
  padding-left: var(--join-modal-padding-left);
  text-align: center;
}

.footer {
  padding-top: 0;
  padding-right: var(--join-modal-padding-right);
  padding-bottom: var(--join-modal-padding-bottom);
  padding-left: var(--join-modal-padding-left);
  text-align: center;
}

.buttons {
  margin-top: 24px;

  & .button {
    margin: 0 calc(var(--default-padding) / 2);
  }
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 24px;
}

.title {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  font-size: var(--join-modal-title-font-size);
  font-weight: 400;
  line-height: 1.2;
}

.form {
  padding: 40px 0;
}

.input {
  margin-bottom: 20px;
}
