/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
  background-color: var(--message-divider-background-color);
  font-family: var(--message-divider-font-family);
  justify-content: center;
  align-items: center;
  align-content: center;

  &::after {
    position: absolute;
    z-index: 1;
    top: 27px;
    right: 24px;
    left: 24px;
    display: block;
    height: 1px;
    content: '';
    background-color: var(--message-divider-default-line-color);
  }
}

.text {
  position: relative;
  z-index: 3;
  padding: 0 32px;
  cursor: default;
  user-select: none;
  text-align: center;
  letter-spacing: -0.3px;
  background-color: var(--message-divider-background-color);
  font-size: var(--message-divider-font-size);
  font-weight: 500;
  line-height: 22px;
  color: var(--message-divider-default-color);
}

/* Themes */
.primary {
  &::after {
    background-color: var(--color-primary);
  }

  & .text {
    color: color(var(--color-primary) alpha(80%));
  }
}

.success {
  &::after {
    background-color: var(--color-success);
  }

  & .text {
    color: color(var(--color-success) alpha(80%));
  }
}

.danger {
  &::after {
    background-color: var(--color-danger);
  }

  & .text {
    color: color(var(--color-danger) alpha(80%));
  }
}

.info {
  &::after {
    background-color: var(--color-info);
  }

  & .text {
    color: color(var(--color-info) alpha(80%));
  }
}

.warning {
  &::after {
    background-color: var(--color-warning);
  }

  & .text {
    color: color(var(--color-warning) alpha(80%));
  }
}
