/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Styles */
.container {
  width: var(--modal-group-edit-width);
  font-family: var(--modal-font-family);
}

.body {
  padding: 0;
}

.footer {
  padding: 0;
}
