/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --authorization-form-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--authorization-form-font-family);
  display: block;
  text-align: center;
}

.typeSelector {
  margin-bottom: 1rem;
}

.type {
  margin: 0 var(--default-padding-small);
}

.input {
  display: block;
  margin-bottom: var(--default-padding-large);
}

.formWrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.stepWrapper {
  width: 100%;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.retry {
  position: absolute;
  top: 43px;
  right: var(--default-padding);
  cursor: pointer;
  line-height: 30px;
  color: var(--color-primary);
}

.resend {
  display: inline-block;
  cursor: pointer;
  color: var(--color-primary);
  margin-bottom: var(--default-padding-large);
}

.resendTimer {
  display: inline-block;
  color: var(--cool-grey-two);
  margin-bottom: var(--default-padding-large);
}

.dataProcessingAgreement {
  margin: 8px;
  color: #6d6c6f;
  font-family: var(--default-font-family);
  font-size: 14px;
}
