/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --authorization-form-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--authorization-form-font-family);
  display: block;
  text-align: center;
}
.type {
  margin: 0 var(--default-padding-small);
}

.input {
  display: block;
  margin-bottom: var(--default-padding-large);
}

.stepWrapper {}

.inputWrapper {
  position: relative;
}

.retry {
  position: absolute;
  right: var(--default-padding);
  line-height: 30px;
  bottom: 13px;
  cursor: pointer;
  color: var(--color-primary);
}

.resend {
  display: inline-block;
  cursor: pointer;
  color: var(--color-primary);
  margin-bottom: var(--default-padding-large);
}

.resendTimer {
  display: inline-block;
  color: var(--cool-grey-two);
  margin-bottom: var(--default-padding-large);
}
