@import '../../../styles/variables.css';

:root {
  --message-state-font-size: 13px;
  --message-state-color: color(#000 alpha(60%));
  --message-state-avatar-padding: 4px;
  --message-state-dot-size: 10px;
  --message-state-dot-color: color(#000 alpha(30%));
  --message-state-sending-size: 9px;
  --message-state-sending-color: var(--violet-blue-two);
  --message-state-sending-animation-duration: calc(var(--default-transition-duration) * 4);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  display: inline-flex;
  flex-direction: row;
  padding-left: 8px;
  letter-spacing: -0.2px;
  font-size: var(--message-state-font-size);
  line-height: 22px;
  color: var(--message-state-color);
  flex: 1 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;

  &::before {
    padding-right: 8px;
    content: '-';
  }
}

.sending {
  width: var(--message-state-sending-size);
  height: var(--message-state-sending-size);
  animation: spin var(--message-state-sending-animation-duration) infinite linear;
  border: 2px solid color(var(--message-state-sending-color) alpha(15%));
  border-top-color: var(--message-state-sending-color);
  border-radius: 50%;
  align-self: center;
}

.sent {
}

.dot {
  display: inline-block;
  width: var(--message-state-dot-size);
  height: var(--message-state-dot-size);
  border-radius: var(--message-state-dot-size);
  background-color: var(--message-state-dot-color);
}

.read {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.inline {
  display: inline;
}

.error {
  color: var(--color-error);
}

.avatar {
  margin-left: var(--message-state-avatar-padding);
}
