@import '../../styles/variables.css';

:root {
  --input-error-color: var(--color-danger);
  --input-success-color: var(--color-success);
  --input-color-color: #000;
  --input-placeholder-color: color(#000 alpha(30%));
  --input-border-color: color(#000 alpha(35%));
  --input-default-font-size: 18px;
  --input-default-line-height: 1.4;
  --input-large-font-size: 24px;
  --input-large-line-height: 1.25;
  --input-font-family: var(--default-font-family);
  --input-focused-color: #000;
  --input-focused-border-color: var(--color-primary);
  --input-disabled-color: #bdbdbd;
  --input-disabled-border-color: var(--input-disabled-color);
  --input-disabled-background-color: color(var(--input-disabled-color) alpha(15%));
  --input-label-color: var(--color-primary);
  --input-label-font-size: 14px;
  --input-label-line-height: 22px;
  --input-label-font-family: var(--default-font-family);
  --input-hint-color: color(#000 alpha(30%));
  --input-hint-font-size: 14px;
  --input-hint-line-height: 18px;
  --input-hint-font-family: var(--default-font-family);
}

.container,
.input,
.label,
.hint {
  all: initial;
}

.container {
  display: block;
  width: 100%;
  margin-bottom: var(--default-padding);
  line-height: 0;
}

.input {
  box-sizing: border-box;
  width: 100%;
  transition: border-color var(--default-transition-duration) ease-in-out;
  border-bottom: 2px solid var(--input-border-color);
  outline: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--input-color-color);
  font-family: var(--input-font-family);
  font-size: var(--input-default-font-size);
  line-height: var(--input-default-line-height);
  padding: 10px 0;

  &::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
  }

  &:-moz-placeholder {
    color: var(--input-placeholder-color);
  }

  &::-moz-placeholder {
    color: var(--input-placeholder-color);
  }

  &:-ms-input-placeholder {
    color: var(--input-placeholder-color);
  }

  /* Focused state */
  &:focus {
    border-color: var(--input-focused-border-color);
    color: var(--input-focused-color);
  }

  /* Disabled state */
  &:disabled {
    cursor: not-allowed;
    border-bottom: 2px dotted var(--input-disabled-border-color);
    color: var(--input-disabled-color);
  }
}

.large {
  & .input {
    font-size: var(--input-large-font-size);
    line-height: var(--input-large-line-height);
    padding: var(--default-padding) 0;
  }
}

.filled {
  & .input,
  & .input:focus {
    border-color: var(--input-focused-border-color);
    color: var(--input-focused-color);
  }
}

.label {
  display: inline-block;
  text-transform: uppercase;
  user-select: none;
  font-weight: 500;
  font-family: var(--input-font-family);
  font-size: var(--input-label-font-size);
  line-height: var(--input-default-line-height);
  color: var(--input-label-color);
  cursor: pointer;
  user-select: none;
}

.hint {
  display: inline-block;
  margin: 6px 0;
  user-select: none;
  font-family: var(--input-hint-font-family);
  font-size: var(--input-hint-font-size);
  line-height: var(--input-hint-line-height);
  color: var(--input-hint-color);
}

/* Success state */
.success {
  & .input,
  & .input:focus {
    border-color: var(--input-success-color) !important;
  }

  & .hint {
    color: var(--input-success-color);
  }
}

/* Error state */
.error {
  & .input,
  & .input:focus {
    border-color: var(--input-error-color) !important;
  }

  & .hint {
    color: var(--input-error-color);
  }
}
