@import '../../styles/variables.css';

:root {
  /* Colors */
  --input-active-color: var(--color-primary);
  --input-inactive-color: #9e9e9e;
  --input-disabled-color: #bdbdbd;
  --input-error-color: var(--color-error);
  --input-success-color: var(--color-success);
  /* Font */
  --input-font-family: var(--default-font-family);
  --input-font-size: 1rem;
  --input-label-font-size: 0.8rem;
}

.container {
  all: initial;
  position: relative;
  margin-top: 1rem;

  /* Success state */
  &.success {
    .input,
    .input:focus {
      border-bottom: 1px solid var(--input-success-color);
      box-shadow: 0 1px 0 0 var(--input-success-color);
    }

    .hint {
      color: var(--input-success-color);
    }
  }
  /* Error state */
  &.error {
    .input,
    .input:focus {
      border-bottom: 1px solid var(--input-error-color);
      box-shadow: 0 1px 0 0 var(--input-error-color);
    }

    .hint {
      color: var(--input-error-color);
    }
  }
}

.input {
  all: initial;
  box-sizing: content-box;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.5rem;
  padding: 0;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid var(--input-inactive-color);
  border-radius: 0;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);

  /* Disabled state */
  &:disabled {
    border-bottom: 1px dotted var(--input-disabled-color);
    color: var(--input-disabled-color);
  }

  &:disabled + .label {
    color: var(--input-disabled-color);
  }
  /* Focused state */
  &:focus {
    border-bottom: 1px solid var(--input-active-color);
    box-shadow: 0 1px 0 0 var(--input-active-color);
  }

  &:focus + .label {
    color: var(--input-active-color);
  }
}

.label {
  all: initial;
  position: absolute;
  top: 0.8rem;
  left: 0;
  cursor: text;
  transition: 0.2s ease-out;
  font-family: var(--input-font-family);
  font-size: 1rem;
  color: var(--input-inactive-color);
}

.label.active,
.input:focus + .label {
  transform: translateY(-140%);
  font-size: var(--input-label-font-size);
}

.hint {
  all: initial;
  margin: 0;
  font-family: var(--input-font-family);
  font-size: 0.8rem;
  color: var(--input-inactive-color);
}
