/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-search-item-font-family: var(--default-font-family);
  --activity-search-item-border-color: color-mod(#000 alpha(14%));
  --activity-search-item-header-title-font-size: var(--default-font-size);
  --activity-search-item-header-date-font-size: 13px;
  --activity-search-item-header-date-color: #8e8e8e;
  --activity-search-item-messages-border-color: #ececec;
}

/* Styles */
.container {
  font-family: var(--activity-search-item-font-family);
  display: block;
  padding: 0 var(--default-padding) var(--default-padding);
  box-shadow: 0 1px 0 0 var(--activity-search-item-border-color);
  transform: translateZ(0);
  height: auto;
}

.header {
  display: flex;
  padding: 10px 0;
  line-height: 20px;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.headerTitle {
  flex: 1 1 auto;
  font-weight: 500;
  line-height: 20px;
  @mixin text-overflow-ellipsis;
  @mixin flex-fix;
}

.headerInfo {
  margin-left: 6px;
  flex: 0 0 auto;
  line-height: 20px;
  font-size: var(--activity-search-item-header-date-font-size);
  color: var(--activity-search-item-header-date-color);
  cursor: pointer;
}

.headerInfoJump {
  color: var(--color-primary);
  font-size: var(--activity-search-item-header-date-font-size);
}

.messages {
  display: block;
  cursor: pointer !important;
  border-radius: 3px;
  box-shadow: 0 0 0 1px var(--activity-search-item-messages-border-color);
}

.messagesCollapsed {
  cursor: pointer !important;
}
