/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  width: var(--modal-attachment-width);
  font-family: var(--modal-font-family);
  font-size: var(--modal-attachment-font-size);
}

.header {
}

.body {
  display: flex;
  flex-direction: column;
  padding: var(--modal-attachment-body-padding);
  justify-content: center;
}

.preview {
  display: flex;
  height: var(--modal-attachment-preview-max-height);
  text-align: center;
  line-height: 0;
  flex: 0 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.previewImage {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: var(--modal-attachment-preview-max-height);
  border-radius: 6px;
  box-shadow: 0 0 0 1px color(#000 alpha(2%));
}

.previewDocument {
  display: inline-flex;
  width: 200px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.document {
  background-color: var(--orangey-red);
}

.media {
  background-color: var(--sky-blue);
}

.unknown {
  background-color: var(--pinkish-grey-two);
}

.meta {
  width: 100%;
  font-size: var(--modal-attachment-meta-font-size);
}

.metaBlock {
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;

  &:nth-child(1) {
    padding: var(--default-padding-large) 10px 0 0;
  }

  &:nth-child(2) {
    padding: var(--default-padding-large) 0 0 10px;
  }
}

.metaHeading {
  margin-bottom: var(--default-padding-small);
  letter-spacing: -0.1px;
  text-transform: uppercase;
  font-size: var(--modal-attachment-meta-heading-font-size);
  line-height: 22px;
  color: var(--modal-attachment-meta-heading-color);
}

.metaText {
  max-width: 215px;
  height: 20px;
  padding-bottom: var(--default-padding-small);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 20px;
  color: #000;
  @apply --text-overflow-ellipsis;
}

.metaFileType {
  text-transform: uppercase;
  composes: metaText;
}

.metaMethodSwitcher {
  margin-right: 14px;
}

.footer {
  padding: 0;
}

.halfButton {
  width: 50%;
}

.pagination {
  display: inline-block;
  margin-left: 8px;
}

.paginationNumbers {
  display: inline-block;
  min-width: 36px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: var(--modal-attachment-pagination-arrow-color);
}

.paginationArrow {
  height: var(--modal-attachment-pagination-arrow-size);
  transition: color var(--default-transition-duration) linear;
  line-height: var(--modal-attachment-pagination-arrow-size);
  color: var(--modal-attachment-pagination-arrow-color);

  &:hover {
    color: var(--modal-attachment-pagination-arrow-hover-color);
  }
}
