/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --emoji-list-width: 346px;
  --emoji-list-height: 280px;
  --emoji-list-background-color: color-mod(#fff alpha(98%));
  --emoji-list-emoji-font-size: 26px;
  --emoji-list-emoji-line-height: 30px;
  --emoji-list-emoji-size: 26px;
  --emoji-list-emoji-wrapper-padding: 5px;
  --emoji-list-emoji-wrapper-background: color-mod(
    var(--color-primary) alpha(10%)
  );
  --emoji-list-category-icon-color: var(--cool-grey-two);
  --emoji-list-category-icon-hover-color: color-mod(
    var(--emoji-list-category-icon-color) shade(20%)
  );
  --emoji-list-category-icon-active-color: var(--color-primary);
  --emoji-list-category-icon-active-hover-color: color-mod(
    var(--emoji-list-category-icon-active-color) alpha(80%)
  );
}

/* Reset */
.container,
.goToButton {
  all: initial;
}

/* Styles */
.container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: var(--default-border-radius);
  background-color: var(--emoji-list-background-color);
  box-shadow: 0 1px 2px 0 color-mod(#000 alpha(12%)),
    0 0 0 1px color-mod(#000 alpha(15%));
  font-family: var(--default-font-family);
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-direction: column;
}

.body {
  width: 100%;
  height: var(--emoji-list-height);
  overflow-x: hidden;
  overflow-y: scroll;
}

.goToButton {
  position: absolute;
  top: 7px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  transition: color var(--default-transition-duration) ease-in;
  color: color-mod(var(--color-primary) alpha(70%));
  font-family: var(--default-font-family);
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  &:hover {
    color: var(--color-primary);
  }
}

.category {
  position: relative;
  padding-top: 38px;
}

.categoryTitle {
  position: absolute;
  transform: translateZ(0px);
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--default-border-radius);
  background: color-mod(#fff alpha(90%));
  padding: 8px var(--default-padding);
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: color-mod(#000 alpha(50%));
  @mixin no-select;
}

.categoryList {
  padding: 0 11px;
}

.emojiWrapper {
  display: inline-block;
  box-sizing: border-box;
  width: calc(
    (var(--emoji-list-emoji-wrapper-padding) * 2) + var(--emoji-list-emoji-size)
  );
  height: calc(
    (var(--emoji-list-emoji-wrapper-padding) * 2) + var(--emoji-list-emoji-size)
  );
  padding: var(--emoji-list-emoji-wrapper-padding);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: background calc(var(--default-transition-duration) / 2) linear;
  border-radius: 50%;

  &:hover {
    background-color: var(--emoji-list-emoji-wrapper-background);
  }
}

.emoji {
  display: inline-block;
  box-sizing: border-box;
  width: var(--emoji-list-emoji-size) !important;
  height: var(--emoji-list-emoji-size) !important;
  font-size: var(--emoji-list-emoji-font-size) !important;
  line-height: var(--emoji-list-emoji-line-height) !important;
}

.sticker {
  display: inline-flex;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: var(--default-border-radius);
  padding: 2px;
  margin: 2px;
  transition: background calc(var(--default-transition-duration) / 2) linear;
  &:hover {
    background-color: var(--emoji-list-emoji-wrapper-background);
  }
}

.footer {
  display: block;
  position: relative;
  box-sizing: border-box;
  min-height: 46px;
  padding: 0 11px;
  flex: 0 0 auto;
  overflow: hidden;

  &:before {
    position: absolute;
    top: -20px;
    left: 1px;
    right: 1px;
    height: 20px;
    content: '';
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      color-mod(#fff alpha(0%)) 0%,
      color-mod(#fff alpha(100%)) 100%
    );
  }
}

.footerStickers {
  display: flex;
  overflow-x: auto;
}

.footerTab {
  display: inline-flex;
  margin-top: 8px;
  padding: 5px 6px;
  vertical-align: middle;
}

.footerTabSticker {
  display: inline-flex;
  padding: 6px 6px 2px;
  margin-bottom: 4px;
  vertical-align: middle;
  cursor: pointer;
  &.active {
    border-bottom: 2px solid var(--emoji-list-category-icon-active-color);
  }
}

.footerTabIcon {
  cursor: pointer;
  opacity: 1 !important;
  color: var(--emoji-list-category-icon-color);

  &:hover {
    color: var(--emoji-list-category-icon-hover-color);
  }

  &.active {
    color: var(--emoji-list-category-icon-active-color);

    &:hover {
      color: var(--emoji-list-category-icon-active-hover-color);
    }
  }
}

.disabled {
  color: var(--emoji-list-category-icon-color) !important;
  cursor: default !important;
  opacity: 0.5 !important;
}
