/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --emoji-list-font-family: var(--default-font-family);
  --emoji-list-width: 310px;
  --emoji-list-height: 280px;
  --emoji-list-emoji-size: 26px;
  --emoji-list-emoji-wrapper-padding: 5px;
  --emoji-list-emoji-wrapper-background: color(var(--color-primary) alpha(10%));
  --emoji-list-category-icon-color: var(--cool-grey-two);
  --emoji-list-category-icon-hover-color: color(var(--emoji-list-category-icon-color) shade(20%));
  --emoji-list-category-icon-active-color: var(--color-primary);
  --emoji-list-category-icon-active-hover-color: color(var(--emoji-list-category-icon-active-color) alpha(80%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--emoji-list-font-family);
  width: var(--emoji-list-width);
  height: var(--emoji-list-height);
  background-color: color(#fff alpha(98%));
  box-shadow: 0 1px 2px 0 color(#000 alpha(12%)), inset 0 0 0 1px color(#000 alpha(15%));
  border-radius: var(--default-border-radius);
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 auto;
  @apply --flex-fix;
}

.category {
}

.categoryTitle {
  color: color(#000 alpha(50%));
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  padding: 8px 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  @apply --no-select;
}

.categoryList {
  padding: 0 11px;
}

.emojiWrapper {
  cursor: pointer;
  padding: var(--emoji-list-emoji-wrapper-padding);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  transition: background calc(var(--default-transition-duration) / 2) linear;

  &:hover {
    background-color: var(--emoji-list-emoji-wrapper-background);
  }
}

.emoji {
  font-size: var(--emoji-list-emoji-size);
  line-height: var(--emoji-list-emoji-size);
  width: var(--emoji-list-emoji-size);
  height: var(--emoji-list-emoji-size);
}

.footer {
  height: 46px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  padding: 5px 11px 0;
  box-sizing: border-box;

  &:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -20px;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 100%);
  }
}

.footerTab {
  display: inline-flex;
  padding: 5px 7px;
  vertical-align: middle;
}

.footerTabIcon {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 24px;
  cursor: pointer;
  color: var(--emoji-list-category-icon-color);
  fill: var(--emoji-list-category-icon-color);
  stroke: var(--emoji-list-category-icon-color);
  transition-property: color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: var(--default-transition-duration);

  &:hover {
    color: var(--emoji-list-category-icon-hover-color);
    fill: var(--emoji-list-category-icon-hover-color);
    stroke: var(--emoji-list-category-icon-hover-color);
  }
}

.active {
  color: var(--emoji-list-category-icon-active-color);
  fill: var(--emoji-list-category-icon-active-color);
  stroke: var(--emoji-list-category-icon-active-color);

  &:hover {
    color: var(--emoji-list-category-icon-active-hover-color);
    fill: var(--emoji-list-category-icon-active-hover-color);
    stroke: var(--emoji-list-category-icon-active-hover-color);
  }
}
