@import '../../styles/variables.css';

.container {
  position: relative;
  display: inline-flex;
}

.online {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--avatar-online-size);
  height: var(--avatar-online-size);
  border-radius: 50%;
  background-color: var(--avatar-online-color);
}
