/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --peer-avatar-placeholder-color: #fff;
  --peer-avatar-online-size: 8px;
  --peer-avatar-online-color: var(--leafy-green);
}

.container {
  position: relative;
  display: inline-flex;
  cursor: inherit;
}

.online {
  fill: var(--peer-avatar-online-color);
}

.text {
  fill: var(--peer-avatar-placeholder-color);
  text-transform: uppercase;
  font-family: var(--default-font-family);
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  cursor: inherit;
}

.clickable {
  cursor: pointer;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}
