/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --fake-recent-text-color: #cacaca;
  --fake-recent-avatar-color: #c5c5c5;
}

.root {
  all: initial;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 46px;
  padding: 9px 16px;
  user-select: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.avatar {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--fake-recent-avatar-color);
  flex: 0 0 auto;
  align-self: flex-start;
}

.text {
  flex: 1 0 auto;
}

.line {
  height: 9px;
  border-radius: 10px;
  background-color: var(--fake-recent-text-color);
}

.counter {
  width: 19px;
  height: 19px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: var(--purple-two);
  flex: 0 0 auto;
}
