/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --sidebar-unread-font-family: var(--default-font-family);
  --sidebar-unread-default-height: 6px;
  --sidebar-unread-hover-height: 18px;
  --sidebar-unread-color: #fff;
  --sidebar-unread-background-color: var(--color-warning);
  --sidebar-unread-hover-background-color: color(var(--sidebar-unread-background-color) tint(10%));
  --sidebar-unread-active-background-color: color(var(--sidebar-unread-background-color) shade(5%));
  --sidebar-unread-z-index: 20;
  --sidebar-unread-transition-duration: calc(var(--default-transition-duration) * 0.6);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--sidebar-unread-font-family);
  position: absolute;
  left: 0;
  right: 0;
  height: var(--sidebar-unread-default-height);
  background-color: var(--sidebar-unread-background-color);
  transition: height var(--sidebar-unread-transition-duration) ease-in-out, background var(--sidebar-unread-transition-duration) ease-in-out;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: var(--sidebar-unread-z-index);
  @apply --no-select;
  cursor: pointer;

  &:hover {
    height: var(--sidebar-unread-hover-height);
    background-color: var(--sidebar-unread-hover-background-color);
    & .icon {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  &:active {
    background-color: var(--sidebar-unread-active-background-color);
    & .icon {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

.top {
  top: 0;
  & .icon {
    transform: scale(0.7) translateY(-10px);
  }

  &:active {
    & .icon {
      transform: translateY(-1px);
    }
  }
}

.bottom {
  bottom: 0;
  & .icon {
    transform: scale(0.7) translateY(10px);
  }
  &:active {
    & .icon {
      transform: translateY(1px);
    }
  }
}

.icon {
  fill: var(--sidebar-unread-color);
  color: var(--sidebar-unread-color);
  stroke: var(--sidebar-unread-color);
  transition: opacity var(--sidebar-unread-transition-duration) ease-in-out, transform var(--sidebar-unread-transition-duration) ease-in-out;
  font-size: 20px;
  opacity: 0;
}
