/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: inline-flex;
  width: var(--toolbar-call-button-size);
  height: var(--toolbar-call-button-size);
  cursor: pointer;
  opacity: 0.4;
  border-radius: 50%;
  justify-content: center;
  flex-flow: row;
  align-content: center;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.7;
  }
}

.icon {
  width: var(--toolbar-call-button-size);
  height: var(--toolbar-call-button-size);
  margin-top: -2px;
}

.disabled {
  cursor: default;
  opacity: 0.15 !important;
}
