/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --button-border-radius: var(--default-border-radius);
  --button-border-radius-small: var(--default-border-radius-small);
  --button-padding-top: 10px;
  --button-padding-right: 30px;
  --button-padding-bottom: 10px;
  --button-padding-left: 30px;
  --button-font-size: 18px;
  --button-font-weight: 400;
  --button-line-height: 26px;
  --button-font-family: var(--default-font-family);
  --button-size-modifier: 0.25;

  --button-primary-background-color: var(--purple-two);
  --button-primary-hover-background-color: color(var(--button-primary-background-color) tint(10%));
  --button-primary-active-background-color: color(var(--button-primary-background-color) shade(5%));
  --button-primary-disabled-background-color: color(var(--button-primary-background-color) blackness(50%));
  --button-primary-color: #fff;

  --button-success-background-color: var(--medium-green);
  --button-success-hover-background-color: color(var(--button-success-background-color) tint(10%));
  --button-success-active-background-color: color(var(--button-success-background-color) shade(5%));
  --button-success-disabled-background-color: color(var(--button-success-background-color) blackness(50%));
  --button-success-color: #fff;

  --button-danger-background-color: var(--lipstick);
  --button-danger-hover-background-color: color(var(--button-danger-background-color) tint(10%));
  --button-danger-active-background-color: color(var(--button-danger-background-color) shade(5%));
  --button-danger-disabled-background-color: color(var(--button-danger-background-color) blackness(50%));
  --button-danger-color: #fff;

  --button-link-color: var(--violet-blue-two);
  --button-link-hover-color: color(var(--button-link-color) alpha(70%));
  --button-link-disabled-color: color(var(--button-link-color) blackness(50%));
}

/* Main */
.button {
  all: initial;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all var(--default-transition-duration) ease;
  text-align: center;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: #000;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.wide {
  width: 100%;
}

.rounded {
  border-radius: var(--button-border-radius);

  &.small {
    border-radius: var(--button-border-radius-small);
  }
}

.loading {
  margin-left: 6px;

  & div {
    background-color: #fff;
  }
}

/* Themes */
.primary {
  background-color: var(--button-primary-background-color);
  color: var(--button-primary-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-primary-hover-background-color);
    box-shadow: 0 2px 4px color(#000 alpha(25%));
  }

  &:active:enabled {
    background-color: var(--button-primary-active-background-color);
    box-shadow: 0 2px 1px color(#000 alpha(25%));
  }

  &[disabled] {
    background-color: var(--button-primary-disabled-background-color);
  }
}

.success {
  background-color: var(--button-success-background-color);
  color: var(--button-success-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-success-hover-background-color);
    box-shadow: 0 2px 4px color(#000 alpha(25%));
  }

  &:active:enabled {
    background-color: var(--button-success-active-background-color);
    box-shadow: 0 2px 1px color(#000 alpha(25%));
  }

  &[disabled] {
    background-color: var(--button-success-disabled-background-color);
  }
}


.danger {
  background-color: var(--button-danger-background-color);
  color: var(--button-danger-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-danger-hover-background-color);
    box-shadow: 0 2px 4px color(#000 alpha(25%));
  }

  &:active:enabled {
    background-color: var(--button-danger-active-background-color);
    box-shadow: 0 2px 1px color(#000 alpha(25%));
  }

  &[disabled] {
    background-color: var(--button-danger-disabled-background-color);
  }
}

.link {
  color: var(--button-link-color);

  &:hover:enabled,
  &:focus:enabled,
  &:active:enabled{
    color: var(--button-link-hover-color);
  }

  &[disabled] {
    color: #9a73e3;
  }
}

/* Sizes */
.small {
  padding-top: calc(var(--button-padding-top) * (1 - var(--button-size-modifier)));
  padding-right: calc(var(--button-padding-right) * (1 - var(--button-size-modifier)));
  padding-bottom: calc(var(--button-padding-bottom) * (1 - var(--button-size-modifier)));
  padding-left: calc(var(--button-padding-left) * (1 - var(--button-size-modifier)));
  font-size: calc(var(--button-font-size) * (1 - var(--button-size-modifier)));
  line-height: calc(var(--button-line-height) * (1 - var(--button-size-modifier)));
}

.normal {
  padding-top: var(--button-padding-top);
  padding-right: var(--button-padding-right);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
}

.large {
  padding-top: calc(var(--button-padding-top) * (1 + var(--button-size-modifier)));
  padding-right: calc(var(--button-padding-right) * (1 + var(--button-size-modifier)));
  padding-bottom: calc(var(--button-padding-bottom) * (1 + var(--button-size-modifier)));
  padding-left: calc(var(--button-padding-left) * (1 + var(--button-size-modifier)));
  font-size: calc(var(--button-font-size) * (1 + var(--button-size-modifier)));
  line-height: calc(var(--button-line-height) * (1 + var(--button-size-modifier)));
}
