@import '../../styles/variables.css';

/* Main */
.root {
  font-family: var(--default-font-family);
  font-weight: 500;
  line-height: 1rem;
  display: inline-block;
  box-sizing: border-box;
  transition: all 150ms ease;
  border: none;
  border-radius: var(--default-border-radius);
  outline: none;
  background-color: transparent;
  appearance: none;

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

/* Types */
.flat {
  color: color(#000 alpha(70%));

  &:hover,
  &:focus {
    background-color: color(#000 alpha(2%));
  }

  &:active {
    background-color: color(#000 alpha(5%));
  }

  &[disabled] {
    background-color: color(#000 alpha(2%)) !important;
  }
}

.rised {
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 2px 3px 0 color(#000 alpha(10%)), 0 2px 8px 0 color(#000 alpha(15%));

  &:hover,
  &:focus {
    background-color: color(var(--color-primary) lightness(+5%));
  }

  &:active {
    background-color: color(var(--color-primary) lightness(+7%));
    box-shadow: 0 3px 6px 0 color(#000 alpha(20%)), 0 4px 10px 0 color(#000 alpha(10%));
  }

  &[disabled] {
    color: #fff !important;
    background-color: var(--color-primary) !important;
    box-shadow: 0 2px 3px 0 color(#000 alpha(10%)), 0 2px 8px 0 color(#000 alpha(15%)) !important;
  }
}

.shade {
  color: var(--color-primary);
  background-color: color(var(--color-primary) alpha(15%));

  &:hover,
  &:focus {
    background-color: color(var(--color-primary) alpha(15%) lightness(+5%));
    box-shadow: 0 1px 1px 0 color(var(--color-primary) alpha(30%));
  }

  &:active {
    background-color: color(var(--color-primary) alpha(15%) lightness(+10%));
    box-shadow: 0 2px 3px 0 color(var(--color-primary) alpha(25%));
  }

  &[disabled] {
    color: var(--color-primary) !important;
    background-color: color(var(--color-primary) alpha(15%)) !important;
    box-shadow: none !important;
  }
}

/* Sizes */
.small {
  padding: 0.5rem 1rem;
  font-size: var(--small-font-size);
}

.normal {
  font-size: var(--default-font-size);
  padding: 1rem 1.5rem;
}

.large {
  font-size: var(--large-font-size);
  padding: 1.25rem 2rem;
}
