/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --button-border-radius: var(--default-border-radius);
  --button-border-radius-small: var(--default-border-radius-small);
  --button-padding-top: 10px;
  --button-padding-right: 30px;
  --button-padding-bottom: 10px;
  --button-padding-left: 30px;
  --button-font-size: 18px;
  --button-font-weight: 500;
  --button-line-height: 28px;
  --button-font-family: var(--default-font-family);
}

/* Main */
.button {
  all: initial;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all var(--default-transition-duration) ease;
  text-align: center;
  border: 0;
  border-radius: var(--button-border-radius);
  outline: none;
  background-color: transparent;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: #000;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.wide {
  width: 100%;
}

/* Types */
.primary {
  background-color: #4800cc;
  color: #fff;

  &:hover:enabled,
  &:focus:enabled {
    background-color: #6b27e6;
    box-shadow: 0 2px 4px color(#000 alpha(25%));
  }

  &:active:enabled {
    background-color: #6b27e6;
    box-shadow: 0 2px 0 color(#000 alpha(25%));
  }

  &[disabled] {
    background-color: #9a73e3;
  }
}

.link {
  color: #4800cc;

  &:hover:enabled,
  &:focus:enabled {
    color: color(#4800cc alpha(70%));
  }

  &:active:enabled {
    color: color(#4800cc alpha(70%));
  }

  &[disabled] {
    color: #9a73e3;
  }
}

/* Sizes */
.small {
  padding-top: calc(0.75 * var(--button-padding-top));
  padding-right: calc(0.75 * var(--button-padding-right));
  padding-bottom: calc(0.75 * var(--button-padding-bottom));
  padding-left: calc(0.75 * var(--button-padding-left));
  border-radius: var(--button-border-radius-small);
  font-size: calc(0.75 * var(--button-font-size));
  line-height: calc(0.75 * var(--button-line-height));
}

.normal {
  padding-top: var(--button-padding-top);
  padding-right: var(--button-padding-right);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
}

.large {
  padding-top: calc(1.25 * var(--button-padding-top));
  padding-right: calc(1.25 * var(--button-padding-right));
  padding-bottom: calc(1.25 * var(--button-padding-bottom));
  padding-left: calc(1.25 * var(--button-padding-left));
  font-size: calc(1.25 * var(--button-font-size));
  line-height: calc(1.25 * var(--button-line-height));
}
