/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --context-menu-font-family: var(--default-font-family);
}

/* Styles */
.container {
  font-family: var(--context-menu-font-family);
  position: fixed;
}
