/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-attachment-font-family: var(--default-font-family);
  --message-attachment-background: color(#000 alpha(3%));
  --message-attachment-font-size: var(--default-font-size-small);
  --message-attachment-padding: var(--default-padding-small);
  --message-attachment-border-color: color(var(--message-attachment-background) shade(5%));
  --message-attachment-from-font-size: 14px;
  --message-attachment-from-color: #939393;
  --message-attachment-header-height: 20px;
  --message-attachment-nick-color: color(#000 alpha(60%));
  --message-attachment-timestamp-font-size: 12px;
  --message-attachment-timestamp-color: var(--message-attachment-nick-color);
}

.container {
  font-family: var(--message-attachment-font-family);
  border-radius: 2px;
  background-color: var(--message-attachment-background);
  display: block;
}

.itemContainer {
  padding: 6px var(--message-attachment-padding);
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }
}

.messages {}

.from {
  height: var(--message-attachment-header-height);
  line-height: var(--message-attachment-header-height);
  padding: 6px var(--message-attachment-padding) 0;
  font-size: var(--message-attachment-from-font-size);
  color: var(--message-attachment-from-color);
}

.fromIcon {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  fill: currentColor;
}

.fromButton {
  padding: 0;
  min-width: 0;
  margin-left: 6px;
  height: var(--message-attachment-header-height);
  line-height: var(--message-attachment-header-height);
  font-size: var(--message-attachment-from-font-size);
}

.header {
  height: var(--message-attachment-header-height);
  margin-bottom: 6px;
}

.icon {
  display: inline-block;
  margin-right: 4px;
  fill: var(--message-attachment-from-color);
}

.name {
  cursor: pointer;
  font-weight: 500;
  font-size: var(--default-font-size);
  line-height: var(--message-attachment-header-height);
  display: inline-block;
  vertical-align: middle;
}

.nick {
  cursor: pointer;
  margin-left: 6px;
  font-size: var(--default-font-size-small);
  line-height: var(--message-attachment-header-height);
  display: inline-block;
  vertical-align: middle;
  color: var(--message-attachment-nick-color);
}

.reply {
  display: block;
  width: 100%;
  @apply --text-overflow-ellipsis;
}

.content {
  display: flex;
  flex-flow: row nowrap;
}

.messageWrapper {
  flex: 1 1 auto;
  @apply --flex-fix;
}

.message {
  font-size: var(--message-attachment-font-size);
  line-height: 18px;
}

.timeWrapper {
  flex: 0 0 auto;
  text-align: right;
}

.time {
  margin-left: 6px;
  margin-top: 2px;
  display: inline-block;
  color: var(--message-attachment-timestamp-color);
  line-height: 18px;
  font-size: var(--message-attachment-timestamp-font-size);
  vertical-align: bottom;
}

.short {
  margin-top: 0;
}
