/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  width: var(--avatar-selector-size);
  height: var(--avatar-selector-size);
  line-height: 0;
}

.avatar {
  cursor: pointer;
}

.avatarChangerIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  line-height: 34px;
  color: var(--avatar-selector-camera-icon-color);

  &:hover {
    opacity: 1;
    color: var(--avatar-selector-camera-icon-color-hover);
  }
}

.avatarRemoveIcon {
  position: absolute;
  right: 6px;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  line-height: 20px;
  font-size: 18px;
  color: var(--avatar-selector-remove-icon-color);
  transition: all var(--avatar-selector-transitio-duration) ease;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
    color: var(--avatar-selector-remove-icon-color-hover);
  }
}
