/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  width: var(--avatar-selector-size);
  height: var(--avatar-selector-size);
  line-height: 0;
}

.avatar {
  cursor: pointer;
}

.avatarChangerIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  line-height: 34px;
  color: var(--violet-blue-two);
}
