@import '../../styles/variables.css';

:root {
  /* Colors */
  --textarea-active-color: var(--color-primary);
  --textarea-label-color: #000;
  --textarea-inactive-color: #9e9e9e;
  --textarea-disabled-color: #bdbdbd;
  --textarea-error-color: var(--color-error);
  --textarea-success-color: var(--color-success);
  /* Font */
  --textarea-font-family: var(--default-font-family);
  --textarea-font-size: 1rem;
  --textarea-label-font-size: 0.8rem;
}

.container {
  position: relative;
  margin-top: 1rem;

  /* Success state */
  &.success {
    .textarea,
    .textarea:focus {
      border-bottom: 1px solid var(--textarea-success-color);
      box-shadow: 0 1px 0 0 var(--textarea-success-color);
    }

    .hint {
      color: var(--textarea-success-color);
    }
  }
  /* Error state */
  &.error {
    .textarea,
    .textarea:focus {
      border-bottom: 1px solid var(--textarea-error-color);
      box-shadow: 0 1px 0 0 var(--textarea-error-color);
    }

    .hint {
      color: var(--textarea-error-color);
    }
  }
}

.textarea {
  box-sizing: content-box;
  width: 100%;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid var(--textarea-inactive-color);
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font-family: var(--textarea-font-family);
  font-size: var(--textarea-font-size);

  /* Disabled state */
  &:disabled {
    border-bottom: 1px dotted var(--textarea-disabled-color);
    color: var(--textarea-disabled-color);
  }

  /* Focused state */
  &:focus {
    border-bottom: 1px solid var(--textarea-active-color);
    box-shadow: 0 1px 0 0 var(--textarea-active-color);
  }
}

.label {
  transition: 0.2s ease-out;
  font-family: var(--textarea-font-family);
  font-size: 1rem;
  font-weight: 500;
  color: var(--textarea-label-color);
}

.hint {
  margin: 0;
  font-family: var(--textarea-font-family);
  font-size: 0.8rem;
  color: var(--textarea-inactive-color);
}
