@import '../../../styles/variables.css';

:root {
  --document-min-width: 400px;
  --document-max-width: 400px;
  --document-font-family: var(--default-font-family);
  --document-media-color: var(--sky-blue);
  --document-document-color: var(--orangey-red);
  --document-picture-color: var(--color-green);
  --document-unknown-color: var(--pinkish-grey-two);
  --document-padding: 12px;
  --document-background-color: #fff;
  --document-border-color: color(#000 alpha(14%));
  --document-border-radius: 4px;
  --document-preview-size: 50px;
  --document-padding-margin-right: 14px;
  --document-download-arrow-color: var(--color-primary);
}

.root {
  all: initial;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-width: var(--document-min-width);
  max-width: var(--document-max-width);
  padding: var(--document-padding);
  cursor: pointer;
  user-select: none;
  border-radius: var(--document-border-radius);
  background-color: var(--document-background-color);
  box-shadow: 0 0 0 1px var(--document-border-color);
  font-family: var(--document-font-family);
}

.preview {
  display: flex;
  width: var(--document-preview-size);
  height: var(--document-preview-size);
  margin-right: var(--document-padding-margin-right);
  text-transform: uppercase;
  border-radius: calc(var(--document-preview-size) / 2);
  font-size: 14px;
  font-weight: 500;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 0 0 auto;
}

.info {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 auto;
}

.filename {
  letter-spacing: -0.4px;
  font-size: 16px;
  font-weight: 500;
  flex: 1 1 50%;
  color: #000;
}

.sizeBlock {
  flex: 1 1 50%;
}

.size {
  vertical-align: middle;
  font-size: 14px;
  color: color(#000 alpha(60%));
}

.text {
  display: inline-block;
  max-width: 100%;

  @apply --text-overflow-ellipsis;
}

.downloadArrow {
  line-height: calc(var(--document-preview-size) / 2);
  color: var(--document-download-arrow-color);
}

/* File type colors */
.media {
  background-color: var(--document-media-color);
}

.document {
  background-color: var(--document-document-color);
}

.picture {
  background-color: var(--document-picture-color);
}

.unknown {
  background-color: var(--document-unknown-color);
}
