/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --sidebar-header-font-family: var(--default-font-family);
  --sidebar-header-height: 60px;
  --sidebar-header-background-color: #fff;
  --sidebar-header-padding-top: 10px;
  --sidebar-header-padding-right: 12px;
  --sidebar-header-padding-bottom: 10px;
  --sidebar-header-padding-left: 12px;
  --sidebar-header-menu-color: color(#000 alpha(80%));
  --sidebar-header-menu-font-size: 18px;
}

.root {
  all: initial;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: var(--sidebar-header-height);
  padding-top: var(--sidebar-header-padding-top);
  padding-right: var(--sidebar-header-padding-right);
  padding-bottom: var(--sidebar-header-padding-bottom);
  padding-left: var(--sidebar-header-padding-left);
  font-family: var(--sidebar-header-font-family);
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu {
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  letter-spacing: -0.3px;
  font-size: var(--sidebar-header-menu-font-size);
  font-weight: 500;
  line-height: calc(var(--sidebar-header-height) - var(--sidebar-header-padding-top) - var(--sidebar-header-padding-bottom));
  color: var(--sidebar-header-menu-color);
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.logo {
  width: 26px;
  height: 26px;
  margin-right: 13px;
  margin-left: 7px;
  line-height: 0;
}

.appName {
}

.arrow {
  height: calc(var(--sidebar-header-height) - var(--sidebar-header-padding-top) - var(--sidebar-header-padding-bottom));
  cursor: inherit;
  line-height: calc(var(--sidebar-header-height) - var(--sidebar-header-padding-top) - var(--sidebar-header-padding-bottom));
}
