/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --pad-button-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: -15px;
  width: 33.3%;
  text-align: center;
}

.containerButton {
  font-family: var(--pad-button-font-family);
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
