/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-notifications-font-family: var(--default-font-family);
}

.container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  font-family: var(--activity-notifications-font-family);
  justify-content: flex-start;
  align-content: center;
}

.icon {
  margin-right: 14px;
  cursor: inherit;
}

.text {
  flex: 1 1 auto;
}

.switcher {
}
