/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: var(--sidebar-call-item-height);
  padding-top: var(--sidebar-call-item-top-padding);
  padding-right: var(--sidebar-call-item-right-padding);
  padding-bottom: var(--sidebar-call-item-bottom-padding);
  padding-left: var(--sidebar-call-item-left-padding);
  cursor: pointer;
  user-select: none;
  font-family: var(--sidebar-call-item-font-family);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--sidebar-call-item-default-color);

  &:hover {
    background-color: var(--sidebar-call-item-hover-background-color);
    color: var(--sidebar-call-item-hover-color);
  }

  &:active {
    background-color: var(--sidebar-call-item-active-background-color);
  }

  & .avatar {
    margin-right: 8px;
    flex: 0 0 auto;
    align-self: auto;
    cursor: inherit;
  }
}

.text {
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  flex: 1 1 auto;
  height: var(--sidebar-call-item-text-height);
  position: relative;
  @apply --flex-fix;
}

.state {
  font-weight: 500;
  line-height: 20px;
  font-size: var(--sidebar-call-item-font-size);
  @apply --text-overflow-ellipsis;
}

.time {
  line-height: 17px;
  font-size: var(--sidebar-call-item-time-font-size);
  vertical-align: middle;
  letter-spacing: -0.25px;
  @apply --text-overflow-ellipsis;
}

.duration {
}
