@import '../../styles/variables.css';

.root {
  /* all: initial; */
  display: inline-block;
  border: 1px solid;
  line-height: 0;
}

/* States */
.loading {
  border-color: var(--color-pending);
}

.success {
  border-color: var(--color-success);
}

.error {
  border-color: var(--color-error);
}
