/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  overflow-y: scroll;
  min-height: 1px;
  max-height: 100%;
  width: 100%;
  position: relative;
}
