/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  all: initial;
  display: flex;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size-large);
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1 1 auto;
  @apply --flex-fix;
}


