/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

.session {
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;

  &:hover {
    & .terminateButton {
      display: block;
    }
  }
}

.sessionMeta {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  @mixin flex-fix;
  @mixin no-select;
}

.sessionTitle {
  font-size: var(--default-font-size-large);
  font-weight: 500;
  line-height: 24px;
  flex: 0 0 auto;
}

.sessionAuthTime {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 auto;
  color: var(--default-font-color-light);
  @mixin text-overflow-ellipsis;
}

.sessionDeviceTitle {
  font-size: var(--default-font-size-small);
  line-height: 20px;
  flex: 0 0 auto;
  color: color-mod(#000 alpha(70%));
  @mixin text-overflow-ellipsis;
}

.terminateButton {
  display: none;
  min-width: auto;
  position: absolute;
  top: 20px;
  right: 0;
}

.termnateAllButton {
  padding: 6px 0;
}
