/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

.session {
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  &:hover {
    & .terminateButton {
      display: block;
    }
  }
}

.sessionMeta {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  @apply --flex-fix;
  @apply --no-select;
}

.sessionTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  flex: 0 0 auto;
}

.sessionAuthTime {
  font-size: 13px;
  line-height: 1.4;
  flex: 0 0 auto;
  color: color(#000 alpha(70%));
}

.terminateButton {
  display: none;
}

.termnateAllButton {
  padding: 6px 0;
}
