/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-media-font-family: var(--default-font-family);
  --message-media-font-size: var(--default-font-size);
  --message-media-font-color: #000;
  --message-media-border-width: 2px;
  --message-media-border-color: color(#000 alpha(14%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: block;
  font-family: var(--message-media-font-family);
  margin-top: var(--default-padding-small);
}

.webpage {
  padding-left: 12px;
  letter-spacing: -0.4px;
  font-size: var(--message-media-font-size);
  line-height: 20px;
  color: var(--message-media-font-color);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-color: var(--message-media-border-color);
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--message-media-border-width);
    border-radius: 1000px;
  }
}

.webpageTitle {
  font-weight: 500;
  color: color(#000 alpha(90%));
  margin: 8px 0;
}

.webpageImage {
  margin-top: 6px;
  line-height: 0;
}
