/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-media-font-family: var(--default-font-family);
  --message-media-font-size: var(--default-font-size);
  --message-media-font-color: #000;
  --message-media-webpage-title-color: color-mod(#000 alpha(90%));
  --message-media-border-width: 2px;
  --message-media-border-color: color-mod(#000 alpha(14%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: block;
  font-family: var(--message-media-font-family);
  margin-top: var(--default-padding-small);
}

.webpage {
  padding: 6px 12px;
  letter-spacing: -0.4px;
  font-size: var(--message-media-font-size);
  color: var(--message-media-font-color);
  position: relative;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    background-color: var(--message-media-border-color);
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--message-media-border-width);
    border-radius: var(--message-media-border-width);
  }
}

.webpageImage {
  line-height: 0;
  margin-right: var(--default-padding-small);
  border-radius: var(--default-border-radius-small);
  box-shadow: 0 0 0 1px var(--message-media-border-color);
  overflow: hidden;
  flex: 0 0 auto;
}

.webpageWrapper {
  display: block;
  flex: 1 1 auto;
  @mixin flex-fix;
}

.webpageTitle {
  font-weight: 500;
  font-size: var(--default-font-size);
  color: var(--message-media-webpage-title-color);
  line-height: 20px;
  margin: 0 0 4px;
  word-wrap: break-word;
}

.webpageDescription {
  display: block;
  font-size: var(--default-font-size-small);
  margin: 4px 0;
  line-height: 16px;
  word-break: break-word;
}

.webpageLink {
  margin: 4px 0 0;
  display: inline-block;
  max-width: 100%;
  @mixin text-overflow-ellipsis;
  line-height: 18px;
  font-size: var(--default-font-size-small);
  text-decoration: none;
  color: var(--color-info);

  &:hover {
    text-decoration: underline;
  }
}

.vertical {
  &.webpage {
    flex-direction: column;

    & .webpageWrapper {
      margin-top: 6px;
    }
  }
}
