/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  width: 360px;
}

.body {
  padding: var(--default-padding);
}

.question {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.footer {
  text-align: right;
  padding: var(--default-padding);
}

.button {
  margin-left: 6px;
}
