:root {
  --color-danger: color(#e53935 alpha(60%));
  --color-danger-active: color(#e53935 alpha(60%));
  --color-default: #fff;
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 1px solid var(--color-danger);

  &:hover {
    border-color: var(--color-danger-active);
    background-color: var(--color-danger-active);
    transform: scale(1.12);
    transition: transform .1s ease-in-out;

    & .icon {
      fill: var(--color-default);
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
  fill: var(--color-danger);
}
