/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

:root {
  --text-overflow-ellipsis: {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  };

  --clearfix: {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  };

  --no-select: {
    cursor: default;
    user-select: none;
  };

  --flex-fix: {
    min-width: 0;
    min-height: 0;
  };
}
