@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');

:global {
  & body {
    background-image: linear-gradient(45deg, #3d01a4 0%, #8601b0 100%);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 1600px 1200px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  & .ReactStyleguidist-TableOfContents__root {
    padding: 15px;
  }

  & .ReactStyleguidist-colors__base-bg {
    background: transparent;
  }

  & .ReactStyleguidist-common__font {
    font-family: 'Roboto', sans-serif;
  }

  & .ReactStyleguidist-common__monospace,
  & .CodeMirror {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
  }

  & .ReactStyleguidist-Layout__wrapper {
    padding-left: 250px;
  }

  & .ReactStyleguidist-Layout__sidebar {
    background-color: transparent;
    width: 250px;
  }

  & .ReactStyleguidist-Layout__content {
    background-color: #fff;
    max-width: 100%;
  }

  & .ReactStyleguidist-TableOfContents__link {
    color: color(#fff alpha(80%)) !important;

    &:hover {
      color: #fff !important;
      text-decoration: underline;
    }
  }

  & .ReactStyleguidist-Layout__heading {
    border: 0;
    color: #fff !important;
    font-weight: 300;
  }

  & .ReactStyleguidist-TableOfContents__search {
    margin: 0;
    width: 100%;
    border-radius: 2px;
    border-color: color(#fff alpha(40%));
    color: #fff;
    line-height: 24px;
    transition: 0ms;

    &::-webkit-input-placeholder {
      color: color(#fff alpha(60%));
    }

    &:-moz-placeholder {
      color: color(#fff alpha(60%));
      opacity: 1;
    }

    &::-moz-placeholder {
      color: color(#fff alpha(60%));
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: color(#fff alpha(60%));
    }

    &:hover {
      border-color: color(#fff alpha(60%));
    }

    &:focus {
      border-color: #fff;

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &:-moz-placeholder {
        color: #fff;
        opacity: 1;
      }

      &::-moz-placeholder {
        color: #fff;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #fff;
      }
    }
  }

  & .ReactStyleguidist-TableOfContents__list {
    padding: 15px 0;
  }

  & .ReactStyleguidist-Layout__footer {
    display: none;
  }

  & .ReactStyleguidist-Props__cell .ReactStyleguidist-common__monospace {
    font-weight: 500;
  }

  & .ReactStyleguidist-Playground__preview {
    & .Button__root {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    & hr {
      height: 1px;
      border: none;
      background-color: color(#000 alpha(5%));
      margin: 1rem 0;
    }
  }
}
