@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');

:global {
  & body {
    background-image: linear-gradient(45deg, #3d01a4 0%, #8601b0 100%);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 1600px 1200px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  & .ReactStyleguidist-TableOfContents__root {
    padding: 15px;
  }

  & .ReactStyleguidist-colors__base-bg {
    background: transparent;
  }

  & .ReactStyleguidist-common__font {
    font-family: 'Roboto', sans-serif;
  }

  & .ReactStyleguidist-common__monospace,
  & .CodeMirror {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
  }

  & .ReactStyleguidist-Layout__wrapper {
    padding-left: 250px;
  }

  & .ReactStyleguidist-Layout__sidebar {
    width: 250px;
    background-color: transparent;
  }

  & .ReactStyleguidist-Layout__content {
    max-width: 100%;
    background-color: #fff;
  }

  & .ReactStyleguidist-TableOfContents__list {
    & .ReactStyleguidist-TableOfContents__link {
      color: color(#fff alpha(80%));

      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }

  & .ReactStyleguidist-Layout__heading {
    border: 0;
    font-weight: 300;
    color: #fff;
  }

  & .ReactStyleguidist-TableOfContents__search {
    width: 100%;
    margin: 0;
    transition: none;
    border-color: color(#fff alpha(40%));
    border-radius: 2px;
    line-height: 24px;
    color: #fff;

    &::-webkit-input-placeholder {
      color: color(#fff alpha(60%));
    }

    &:-moz-placeholder {
      opacity: 1;
      color: color(#fff alpha(60%));
    }

    &::-moz-placeholder {
      opacity: 1;
      color: color(#fff alpha(60%));
    }

    &:-ms-input-placeholder {
      color: color(#fff alpha(60%));
    }

    &:hover {
      border-color: color(#fff alpha(60%));
    }

    &:focus {
      border-color: #fff;

      &::-webkit-input-placeholder {
        color: color(#fff alpha(80%));
      }

      &:-moz-placeholder {
        color: color(#fff alpha(80%));
      }

      &::-moz-placeholder {
        color: color(#fff alpha(80%));
      }

      &:-ms-input-placeholder {
        color: color(#fff alpha(80%));
      }
    }
  }

  & .ReactStyleguidist-TableOfContents__list {
    padding: 15px 0;
  }

  & .ReactStyleguidist-Props__cell .ReactStyleguidist-common__monospace {
    font-weight: 500;
  }

  & .ReactStyleguidist-Playground__preview {
    & .Button__root {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    & .scroller__demo {
      width: 300px;
      height: 100px;
    }

    & hr {
      height: 1px;
      margin: 1rem 0;
      border: 0;
      background-color: color(#000 alpha(5%));
    }
  }

  & .ReactStyleguidist-TableOfContents__section {
    &,
    &:link,
    &:visited {
      color: color(#fff blackness(15%));
    }

    &:hover,
    &:active {
      color: #fff;
    }
  }

  & .ReactStyleguidist-Playground__showCode {
    border-top: 1px solid #e8e8e8;
  }

  & .ReactStyleguidist-ReactComponent__isolatedLink {
    top: 18px;
  }
}
