/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import './colors.css';
@import './helpers.css';

:root {
  --font-apple: -apple-system, 'BlinkMacSystemFont';
  --font-fallback: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --default-font-family: var(--font-apple), var(--font-fallback), var(--font-emoji);
  --code-font-family: 'Fira Code', 'Consolas', 'Monaco', 'Roboto Mono', monospace;
  /* Sizes */
  --small-font-size: 14px;
  --default-font-size: 16px;
  --large-font-size: 20px;
  --default-line-height: 24px;
  --default-padding: 16px;
  --default-border-radius-small: 3px;
  --default-border-radius: 5px;
  --default-transition-duration: 150ms;
  /* Layers */
  --z-index-dropdown: 100;
  --z-index-sidebar: 50;
  --z-index-chat: 20;
  /* Colors */
  --color-primary: #8601b0;
  --color-empty: #b8b8b8;
  --color-lblue: #59a2be;
  --color-blue: #2093cd;
  --color-purple: #ad62a7;
  --color-red: #f16364;
  --color-orange: #f9a43e;
  --color-yellow: #e4c62e;
  --color-green: #67bf74;
  --color-pending: var(--color-blue);
  --color-error: var(--color-red);
  --color-success: var(--color-green);
}
