:root {
  --default-font-family: 'Roboto', sans-serif;
  /* Sizes */
  --small-font-size: 14px;
  --default-font-size: 16px;
  --large-font-size: 20px;
  --default-line-height: 24px;
  --default-padding: 1rem;
  --default-border-radius: 2px;
  --spinner-max-height: 20px;
  /* Colors */
  --color-primary: #8601b0;
  --color-empty: #b8b8b8;
  --color-lblue: #59a2be;
  --color-blue: #2093cd;
  --color-purple: #ad62a7;
  --color-red: #f16364;
  --color-orange: #f9a43e;
  --color-yellow: #e4c62e;
  --color-green: #67bf74;
  --color-error: var(--color-red);
  --color-success: var(--color-green);
}
