/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import './colors.css';
@import './helpers.css';

@custom-media --smaller (width < 500px);
@custom-media --small (width < 800px);
@custom-media --medium (width < 1100px);

:root {
  --font-apple: -apple-system, 'BlinkMacSystemFont';
  --font-fallback: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --default-font-family: var(--font-apple), var(--font-fallback), var(--font-emoji);
  --code-font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Code', 'Fira Mono', 'Droid Sans Mono', 'Consolas',
    'Roboto Mono', 'Source Code Pro', monospace;

  /* Sizes */
  --default-background-color: #fff;
  --default-font-size-small: 14px;
  --default-font-size: 16px;
  --default-font-size-large: 18px;
  --default-font-color: #000;
  --default-font-color-light: color(var(--default-font-color) blend(var(--default-background-color) 50%));
  --default-line-height-small: 1.25;
  --default-line-height: 1.5;
  --default-line-height-large: 2;
  --default-padding-small: 10px;
  --default-padding: 16px;
  --default-padding-large: 20px;
  --default-border-radius-small: 3px;
  --default-border-radius: 4px;
  --default-transition-duration: 150ms;
  --default-recent-item-font-size: 15px;
  /* Layout */
  --layout-min-width: 1120px;
  --layout-min-height: 450px;
  --layout-sidebar-width: 270px;
  --layout-activity-width: 320px;
  /* Layers */
  --z-index-dropdown: 100;
  --z-index-tooltip: var(--z-index-dropdown);
  --z-index-call: calc(var(--z-index-dropdown) - 20);
  --z-index-sidebar: 50;
  --z-index-chat: 20;
  --z-index-toolbar: calc(var(--z-index-chat) + 5);
  --z-index-sidebar-unread: 20;
  --z-index-connection-status: calc(var(--z-index-toolbar) - 1);
  --z-index-message-actions: 10;
  --z-index-dragndrop: 1000;
  /* Colors */
  --color-primary: var(--violet-blue);
  --color-success: var(--medium-green);
  --color-danger: var(--lipstick);
  --color-info: var(--dark-periwinkle);
  --color-warning: var(--orange-yellow);
  --color-pending: var(--color-info);
  --color-error: var(--color-danger);
  /* Gradients */
  --default-gradient: linear-gradient(89deg, var(--violet-blue), var(--color-primary));
  --login-gradient: var(--default-gradient);
  --login-background: var(--login-gradient);
  /* Avatar */
  --avatar-placeholder-color: #fff;
  /* PeerAvatar */
  --avatar-online-size: 8px;
  --avatar-online-color: var(--leafy-green);
  /* Call */
  --call-background-color: #fff;
  --call-video-background-color: #000;
  --call-default-padding: calc(var(--default-padding-large) * 3);
  /* Checkbox */
  --checkbox-size: 16px;
  /* Confirm */
  --confirm-width: 400px;
  --confirm-font-size: var(--default-font-size-large);
  /* ConnectionStatus */
  --connection-status-font-size: var(--default-font-size-small);
  --connection-status-font-color: #fff;
  --connection-status-height: calc(var(--default-padding-large) * 1.5);
  --connection-status-transition-duration: var(--default-transition-duration);
  --connection-status-translate-size: calc(0 - var(--connection-status-height));
  /* Dragndrop */
  --dragndrop-width: 740px;
  --dragndrop-height: 440px;
  --dragndrop-border-radius: var(--default-border-radius);
  --dragndrop-background-color: var(--color-primary);
  /* EmojiList */
  --emoji-list-width: 346px;
  --emoji-list-height: 280px;
  --emoji-list-background-color: color(#fff alpha(98%));
  --emoji-list-emoji-font-size: 26px;
  --emoji-list-emoji-line-height: 30px;
  --emoji-list-emoji-size: 26px;
  --emoji-list-emoji-wrapper-padding: 5px;
  --emoji-list-emoji-wrapper-background: color(var(--color-primary) alpha(10%));
  --emoji-list-category-icon-color: var(--cool-grey-two);
  --emoji-list-category-icon-hover-color: color(var(--emoji-list-category-icon-color) shade(20%));
  --emoji-list-category-icon-active-color: var(--color-primary);
  --emoji-list-category-icon-active-hover-color: color(var(--emoji-list-category-icon-active-color) alpha(80%));
  /* EmojiButton */
  --emoji-button-font-family: var(--default-font-family);
  --emoji-button-font-size: var(--default-font-size);
  --emoji-button-size: 30px;
  --emoji-button-background: #fff;
  --emoji-button-background-active: #f6f2fc;
  --emoji-button-border-color: #d9d9d9;
  --emoji-button-border-color-hover: var(--color-primary);
  --emoji-button-border-color-active: var(--emoji-button-border-color-hover);
  --emoji-button-border-radius: var(--emoji-button-size);
  --emoji-button-transition-duration: var(--default-transition-duration);
  --emoji-button-counter-color: color(#000 alpha(50%));
  --emoji-button-counter-color-hover: var(--color-primary);
  --emoji-button-counter-color-active: var(--emoji-button-counter-color-hover);
  /* FakeMessage */
  --fake-message-avatar-size: 40px;
  --fake-message-avatar-color: #c5c5c5;
  --fake-message-header-height: 12px;
  --fake-message-header-text-color: #cacaca;
  --fake-message-line-height: 10px;
  --fake-message-text-color: color(var(--fake-message-header-text-color) alpha(60%));
  /* Icon */
  --icon-default-color: rgb(178, 178, 178);
  --icon-inverted-color: #fff;
  /* IconButton */
  --icon-button-small-size: 32px;
  --icon-button-default-size: 40px;
  --icon-button-large-size: 54px;
  --icon-button-background-color: #fff;
  --icon-button-default-color: rgb(178, 178, 178);
  --icon-button-hover-color: var(--color-primary);
  --icon-button-flat-color: rgb(178, 178, 178);
  --icon-button-flat-color-hover: #fff;
  --icon-button-flat-hover-background-color: rgb(150, 150, 150);
  --icon-button-flat-border-width: 1px;
  --icon-button-flat-small-size: var(--icon-button-small-size);
  --icon-button-flat-default-size: var(--icon-button-default-size);
  --icon-button-flat-large-size: var(--icon-button-large-size);
  /* Input */
  --input-error-color: var(--color-danger);
  --input-warning-color: var(--color-warning);
  --input-success-color: var(--color-success);
  --input-text-color: #000;
  --input-placeholder-color: color(#000 alpha(30%));
  --input-border-color: color(#000 alpha(35%));
  --input-border-width: 1px;
  --input-focus-border-width: 2px;
  --input-default-font-size: 18px;
  --input-default-line-height: 1.4;
  --input-large-font-size: 22px;
  --input-large-line-height: 1.25;
  --input-font-family: var(--default-font-family);
  --input-focused-color: #000;
  --input-focused-border-color: var(--color-primary);
  --input-disabled-color: var(--pinkish-grey-two);
  --input-disabled-border-color: var(--input-disabled-color);
  --input-disabled-background-color: color(var(--input-disabled-color) alpha(15%));
  --input-label-color: var(--color-primary);
  --input-label-font-size: 14px;
  --input-label-line-height: 22px;
  --input-label-font-family: var(--default-font-family);
  --input-hint-color: color(#000 alpha(30%));
  --input-hint-font-size: 14px;
  --input-hint-line-height: 18px;
  --input-hint-font-family: var(--default-font-family);
  --input-prefix-color: var(--default-font-color-light);
  /* Lightbox */
  --lightbox-background-color: color(rgb(51, 51, 51) alpha(80%));
  --lightbox-toolbar-background-color: color(#333 alpha(75%));
  --lightbox-button-background-color: color(var(--lightbox-toolbar-background-color) alpha(50%));
  /* Message */
  --message-font-family: var(--default-font-family);
  --message-vertical-padding: 6px;
  --message-horizontal-padding: 20px;
  --message-small-vertical-padding: 4px;
  --message-small-horizontal-padding: 20px;
  --message-hover-background-color: #f6f6f6;
  --message-highlight-background-color: color(var(--color-primary) alpha(15%));
  --message-selected-background-color: var(--color-info);
  --message-username-color: color(#000 alpha(60%));
  --message-timestamp-color: color(#000 alpha(60%));
  --message-error-color: color(var(--color-error) alpha(7.5%));
  --message-error-hover-color: color(var(--color-error) alpha(10%));
  --message-unread-color: color(#f2f2f2 alpha(25%));
  --message-state-border-width: 3px;
  --message-transition-duration: var(--default-transition-duration);
  /* Sidebar */
  /* SidebarFooter */
  --sidebar-footer-font-family: var(--default-font-family);
  --sidebar-footer-height: 54px;
  --sidebar-footer-background: #fff;
  --sidebar-footer-border-color: color(#000 alpha(14%));
  --sidebar-footer-button-color: #9e9e9e;
  --sidebar-footer-button-color-hover: #808080;
  --sidebar-footer-button-color-active: var(--color-primary);
  --sidebar-footer-button-counter-background: var(--color-danger);
  --sidebar-footer-button-counter-color: #fff;
  --sidebar-footer-button-counter-size: 14px;
  --sidebar-footer-button-counter-font-size: calc(var(--sidebar-footer-button-counter-size) - 6);
  /* SidebarUnread */
  --sidebar-unread-font-family: var(--default-font-family);
  --sidebar-unread-default-height: 4px;
  --sidebar-unread-hover-height: 18px;
  --sidebar-unread-color: #fff;
  --sidebar-unread-background-color: var(--color-primary);
  --sidebar-unread-hover-background-color: color(var(--sidebar-unread-background-color) tint(10%));
  --sidebar-unread-active-background-color: color(var(--sidebar-unread-background-color) shade(5%));
  --sidebar-unread-transition-duration: calc(var(--default-transition-duration) * 0.6);
  /* Tabs */
  --tabs-font-family: var(--default-font-family);
  --tabs-width: 220px;
  --tabs-gradient: var(--default-gradient);
  --tabs-color: var(--default-font-color);
  --tabs-color-active: #fff;
  /* Tooltip */
  --tooltip-font-family: var(--default-font-family);
  --tooltip-font-size: var(--default-font-size-small);
  --tooltip-background-color: color(#000 alpha(70%));
  --tooltip-color: #fff;
  --tooltip-offset: 3px;
  --tooltip-z-index: 5;
  --tooltip-transition-duration: 100ms;
  /* Typing */
  --typing-font-family: var(--default-font-family);
  --typing-font-size: 15px;
  --typing-height: 40px;
  --typing-text-color: var(--default-font-color-light);
  --typing-transition-duration: 100ms;
  /* Modals */
  --modal-font-family: var(--default-font-family);
  --modal-font-size: var(--default-font-size);
  --modal-font-color: var(--default-font-color);
  --modal-font-color-light: var(--default-font-color-light);
  --modal-border-radius: var(--default-border-radius);
  --modal-border-color: color(#000 alpha(10%));
  --modal-min-width: 500px;
  --modal-overlay-color: color(#000 alpha(45%));
  --modal-close-size: 28px;
  --modal-close-size-large: 32px;
  --modal-close-color: color(#000 alpha(40%));
  --modal-close-color-hover: color(#000 alpha(60%));
  --modal-close-transition-duration: var(--default-transition-duration);
  --modal-background-color: #fff;
  --modal-fullscreen-background-color: #fff;
  --modal-fullscreen-padding-top: 80px;
  --modal-fullscreen-min-width: 800px;
  --modal-fullscreen-min-height: 600px;
  --modal-header-font-size: var(--default-font-size-large);
  --modal-header-color: var(--default-font-color);
  /* AddContactModal */
  --modal-add-contact-width: 500px;
  --modal-add-contact-heigth: 320px;
  /* AttachmentModal */
  --modal-attachment-width: 520px;
  --modal-attachment-font-size: var(--default-font-size);
  --modal-attachment-text-color: var(--modal-font-color-light);
  --modal-attachment-pagination-arrow-size: 28px;
  --modal-attachment-pagination-arrow-color: var(--cool-grey);
  --modal-attachment-pagination-arrow-hover-color: color(var(--cool-grey) shade(20%));
  --modal-attachment-body-padding: calc(var(--default-padding) * 2);
  --modal-attachment-preview-max-height: 200px;
  --modal-attachment-meta-font-size: var(--default-font-size-small);
  --modal-attachment-meta-heading-color: var(--violet-blue-two);
  --modal-attachment-meta-heading-font-size: var(--modal-attachment-meta-font-size);
  /* CreateNewModal */
  --modal-create-new-width: 500px;
  --modal-create-new-hint-color: var(--modal-font-color-light);
  --modal-create-new-hint-font-size: var(--modal-font-size);
  --modal-create-new-label-font-size: var(--default-font-size-large);

  /* PreferencesModal */
  --modal-preferences-width: 740px;
  --modal-preferences-height: 480px;
  --modal-preferences-header-height: 60px;
  --modal-preferences-hint-font-size: var(--default-font-size-small);
  --modal-preferences-hint-color: var(--modal-font-color-light);
  /* AddMembersModal */
  --modal-member-add-width: 500px;
  /* EditGroupModal */
  --modal-group-edit-width: 600px;
}
