/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --toolbar-font-family: var(--default-font-family);
  --toolbar-height: 60px;
  --toolbar-background-color: #fff;
  --toolbar-padding-top: 10px;
  --toolbar-padding-right: 20px;
  --toolbar-padding-bottom: 10px;
  --toolbar-padding-left: 20px;
  --toolbar-title-color: #000;
  --toolbar-title-font-size: var(--default-font-size);
  --toolbar-status-color: var(--default-font-color-light);
  --toolbar-status-font-size: var(--default-font-size-small);
  --toolbar-border-color: color-mod(#000 alpha(14%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  z-index: var(--z-index-toolbar);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: var(--toolbar-height);
  padding-top: var(--toolbar-padding-top);
  padding-right: var(--toolbar-padding-right);
  padding-bottom: var(--toolbar-padding-bottom);
  padding-left: var(--toolbar-padding-left);
  background-color: var(--toolbar-background-color);
  box-shadow: inset 0 -1px 0 0 var(--toolbar-border-color);
  font-family: var(--toolbar-font-family);
  justify-content: flex-start;
}

/* Layout */
.info {
  box-sizing: border-box;
  padding: 0;
  flex: 1 1 auto;
  overflow: hidden;
}

.buttons {
  display: flex;
  box-sizing: border-box;
  padding: 0 0 0 var(--toolbar-padding-right);
  flex: 0 1 auto;
  align-items: center;
  justify-content: flex-end;
}

/* Theming */
.nameWrapper {
  display: block;
  width: 100%;
  line-height: 22px;
  height: 22px;
  @mixin text-overflow-ellipsis;
}

.name {
  letter-spacing: -0.3px;
  font-size: var(--toolbar-title-font-size);
  font-weight: 500;
  color: var(--toolbar-title-color);
}

.status {
  letter-spacing: -0.2px;
  font-size: var(--toolbar-status-font-size);
  line-height: 18px;
  height: 18px;
  color: var(--toolbar-status-color);
  @mixin text-overflow-ellipsis;
}

.avatar {
  position: relative;
  margin-right: 20px;
}

.favourite {
  position: absolute;
  right: -2px;
  bottom: -2px;
  box-sizing: border-box;
  width: 16px !important;
  height: 16px !important;
  padding: 2px;
  border-radius: 50%;
  background-color: #fff;
}
