/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Styles */
.container {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: var(--default-font-family);
}

.empty {
  padding: var(--sidebar-peer-item-default-left-padding);
  display: flex;
  justify-content: center;
  color: var(--icon-default-color);
}
