/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --create-new-modal-font-family: var(--default-font-family);
  --create-new-modal-width: 500px;
  --create-new-back-color: color(#000 alpha(38%));
  --create-new-type-hint-color: color(#000 alpha(50%));
  --create-new-type-hint-font-size: 16px;
  --create-new-type-label-font-size: 18px;
}

/* Styles */
.container {
  font-family: var(--create-new-modal-font-family);
}

.header {
  padding-right: 24px;
  padding-left: 24px;
  line-height: 0;
}

.back {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  line-height: 28px;
  color: var(--create-new-back-color);
}

.type {
  box-sizing: border-box;
  width: var(--create-new-modal-width);
  padding: 50px;
}

.typeLabel {
  font-size: var(--create-new-type-label-font-size);
}

.typeHint {
  padding-right: 30px;
  padding-left: 46px;
  cursor: default;
  user-select: none;
  font-size: var(--create-new-type-hint-font-size);
  line-height: 1.6;
  color: var(--create-new-type-hint-color);
}

.info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 30px 50px;
}

.avatarBlock {
  width: 100px;
  margin-right: 34px;
  flex: 0 0 auto;
}

.avatarChanger {
  position: relative;
}

.avatar {
  cursor: pointer;
}

.avatarChangerIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  line-height: 34px;
  color: var(--violet-blue-two);
}

.form {
  width: 400px;
  flex: 0 0 auto;
}

.input {
  margin-bottom: calc(var(--default-padding) * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding: 0;
}
