@import '../../styles/variables.css';

:root {
  --fieldset-legend-font-family: var(--default-font-family);
}

.fieldset {
  all: initial;
  display: block;
  width: 100%;
  padding: 8px;
}

.legend {
  all: initial;
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fieldset-legend-font-family);
}
