/* Remove after merge & publish https://github.com/stylelint/stylelint/pull/1562 */
/* stylelint-disable time-no-imperceptible */

@import '../../styles/variables.css';

:root {
  --spinner-max-height: 20px;
  --spinner-color: #fff;
}

@keyframes line-scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

.root {
  display: inline-block;
  box-sizing: border-box;
  width: calc(var(--spinner-max-height) + 20px);
  height: calc(var(--spinner-max-height) + 20px);
  padding: 10px;
  border-radius: 50%;
  background-color: color(#000 alpha(20%));

  & div {
    position: relative;
    display: block;
    float: left;
    box-sizing: content-box;
    width: 2px;
    height: var(--spinner-max-height);
    margin: 0 1px;
    animation: line-scale 1.2s infinite ease;
    border: 0 solid var(--spinner-color);
    border-radius: 0;
    background-color: var(--spinner-color);
    color: var(--spinner-color);

    &:nth-child(1) {
      animation-delay: -1.2s;
    }

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -1s;
    }

    &:nth-child(4) {
      animation-delay: -0.9s;
    }

    &:nth-child(5) {
      animation-delay: -0.8s;
    }
  }

  &::after {
    display: table;
    clear: both;
    content: '';
    line-height: 0;
  }
}
