/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-state-edited-font-size: 11px;
}

.container {
  display: inline-block;
  text-align: center;
  height: 22px;
  font-family: var(--message-state-font-family);
}

.time {
  cursor: pointer;
  font-size: var(--message-state-font-size);
  color: var(--message-state-color);
}

.edited {
  font-size: var(--message-state-edited-font-size);
  color: color(#000 alpha(40%));
  font-weight: 500;
  cursor: default;
}

.compact {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.tooltip {
  display: inline-flex;
}
