/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-state-font-family: var(--default-font-family);
  --message-state-font-size: 13px;
  --message-state-color: color-mod(#000 alpha(60%));
  --message-state-avatar-padding: 4px;
  --message-state-dot-size: 10px;
  --message-state-dot-color: color-mod(#000 alpha(30%));
  --message-state-edited-font-size: 11px;
  --message-state-height: 22px;
}

.container {
  display: inline-block;
  text-align: center;
  height: 22px;
  font-family: var(--message-state-font-family);
}

.time {
  cursor: pointer;
  font-size: var(--message-state-font-size);
  color: var(--message-state-color);
  display: inline-block;
  line-height: var(--message-state-height);
  height: var(--message-state-height);
  vertical-align: unset;
}

.edited {
  font-size: var(--message-state-edited-font-size);
  color: color-mod(#000 alpha(40%));
  font-weight: 500;
  cursor: default;
}

.compact {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  & .time {
    font-size: var(--message-state-edited-font-size);
    margin: 0 -2rem;
  }
}

.tooltip {
  display: inline-block;
}
