/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--message-state-font-family);
  font-size: var(--message-state-font-size);
  color: var(--message-state-color);
}
