/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --select-border-color: #D1D3D8;
  --select-hover-border-color: color(var(--select-border-color) shade(10%));
  --select-focus-border-color: var(--color-primary);
}

/* Reset */
.container,
.select,
.wrapper {
  all: initial;
}

/* Styles */
.wrapper {
  position: relative;
  display: inline-flex;
}

.container {
  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--default-padding);

  & .wrapper {
    width: 100%;
    flex: 1 1 auto;
    @apply --flex-fix;
  }
}

.label {
  font-family: var(--select-font-family);
  font-size: var(--select-label-font-size);
  display: inline-block;
  cursor: pointer;
  user-select: none;
  line-height: 30px;
  color: var(--select-label-color);
}

.select {
  width: 100%;
  border-radius: var(--select-border-radius);
  background-color: var(--select-background-color);
  box-shadow: 0 0 0 1px var(--select-border-color);
  font-family: var(--select-font-family);
  font-size: var(--select-font-size);
  color: var(--select-color);
  padding: 0 var(--select-horizontal-padding);
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: var(--select-height);
  cursor: pointer;
  flex: 1 1 auto;
  @apply --flex-fix;

  &:hover {
    box-shadow: 0 0 0 1px var(--select-hover-border-color);
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--select-focus-border-color);
  }
}

.disabled {
  & .select {
    cursor: not-allowed;
    opacity: 0.7;
    color: color(var(--select-color) alpha(60%));
    box-shadow: 0 0 0 1px var(--select-border-color) !important;
  }
  & .arrow {
    color: color(var(--select-color) alpha(40%));
  }
}

.arrow {
  position: absolute;
  right: 10px;
  top: 12px;
  pointer-events: none;
}
