/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container,
.select {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: inline-flex;
  min-width: var(--select-min-width);
}

.select {
  border-radius: var(--select-border-radius);
  background-color: var(--select-background-color);
  box-shadow: inset 0 0 0 1px var(--select-border-color);
  font-family: var(--select-font-family);
  font-size: var(--select-font-size);
  letter-spacing: -0.2px;
  color: var(--select-color);
  padding: 0 var(--select-horizontal-padding);
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: var(--select-height);
  cursor: pointer;
  flex: 1 1 auto;
  @apply --flex-fix;
}

.disabled {
  & .select {
    cursor: not-allowed;
    opacity: 0.7;
    color: color(var(--select-color) alpha(60%));
  }
  & .arrow {
    color: color(var(--select-color) alpha(40%));
  }
}

.arrow {
  position: absolute;
  right: 5px;
  top: 5px;
  pointer-events: none;
}
