/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../../styles/variables.css';

.container {
  display: inline-flex;
  cursor: inherit;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: var(--icon-default-color);
  fill: var(--icon-default-color);
  stroke: var(--icon-default-color);
}

.material {
  cursor: inherit;
  font-size: inherit;
  line-height: inherit;
  flex: 0 0 auto;
  color: inherit;
}

.svg {
  width: 100%;
  height: 100%;
  cursor: inherit;
  flex: 0 0 auto;
  fill: inherit;
  stroke: inherit;

  & .svgFill {
    fill: inherit;
    stroke: none;
  }

  & .svgStroke {
    fill: none;
    stroke: inherit;
  }
}

.inverted {
  padding: 4px;
  cursor: inherit;
  border-radius: 50%;
  background-color: var(--icon-default-color);
  color: var(--icon-inverted-color);
  fill: var(--icon-inverted-color);
  stroke: var(--icon-inverted-color);
}

.clickable {
  cursor: pointer;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

/* Themes */
.primary {
  color: var(--color-primary);
  fill: var(--color-primary);
  stroke: var(--color-primary);

  &.inverted {
    background-color: var(--color-primary);
    color: var(--icon-inverted-color);
    fill: var(--icon-inverted-color);
    stroke: var(--icon-inverted-color);
  }
}

.success {
  color: var(--color-success);
  fill: var(--color-success);
  stroke: var(--color-success);

  &.inverted {
    background-color: var(--color-success);
    color: var(--icon-inverted-color);
    fill: var(--icon-inverted-color);
    stroke: var(--icon-inverted-color);
  }
}

.danger {
  color: var(--color-danger);
  fill: var(--color-danger);
  stroke: var(--color-danger);

  &.inverted {
    background-color: var(--color-danger);
    color: var(--icon-inverted-color);
    fill: var(--icon-inverted-color);
    stroke: var(--icon-inverted-color);
  }
}

.info {
  color: var(--color-info);
  fill: var(--color-info);
  stroke: var(--color-info);

  &.inverted {
    background-color: var(--color-info);
    color: var(--icon-inverted-color);
    fill: var(--icon-inverted-color);
    stroke: var(--icon-inverted-color);
  }
}

.warning {
  color: var(--color-warning);
  fill: var(--color-warning);
  stroke: var(--color-warning);

  &.inverted {
    background-color: var(--color-warning);
    color: var(--icon-inverted-color);
    fill: var(--icon-inverted-color);
    stroke: var(--icon-inverted-color);
  }
}

/* Size */
.small {
  width: var(--icon-small-size);
  height: var(--icon-small-size);
  font-size: var(--icon-small-size);
  line-height: var(--icon-small-size);

  &.inverted {
    width: calc(var(--icon-small-size) - 2);
    height: calc(var(--icon-small-size) - 2);
    font-size: calc(var(--icon-small-size) - 2);
    line-height: calc(var(--icon-small-size) - 2);
  }
}

.normal {
  width: var(--icon-default-size);
  height: var(--icon-default-size);
  font-size: var(--icon-default-size);
  line-height: var(--icon-default-size);

  &.inverted {
    width: calc(var(--icon-default-size) - 4);
    height: calc(var(--icon-default-size) - 4);
    font-size: calc(var(--icon-default-size) - 4);
    line-height: calc(var(--icon-default-size) - 4);
  }
}

.large {
  width: var(--icon-large-size);
  height: var(--icon-large-size);
  font-size: var(--icon-large-size);
  line-height: var(--icon-large-size);

  &.inverted {
    width: calc(var(--icon-large-size) - 6);
    height: calc(var(--icon-large-size) - 6);
    font-size: calc(var(--icon-large-size) - 6);
    line-height: calc(var(--icon-large-size) - 6);
  }
}
