/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-profile-font-family: var(--default-font-family);
  --activity-profile-font-size: var(--default-font-size);
  --activity-profile-font-color: var(--default-font-color);
  --activity-profile-text-color-light: var(--default-font-color-light);
  --activity-profile-padding: var(--default-padding) 24px;
  --activity-profile-contact-font-color: var(--color-info);
  --activity-profile-title-font-size: 22px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  flex-direction: column;
  padding: var(--activity-profile-padding);
  font-family: var(--activity-profile-font-family);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.avatar {
  flex: 0 0 auto;
}

.name {
  display: block;
  margin-top: var(--default-padding);
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-title-font-size);
  line-height: 30px;
  color: var(--activity-profile-font-color);
}

.nick,
.status,
.about {
  display: block;
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-font-size);
  line-height: 20px;
  color: var(--activity-profile-font-color);
}

.nick {
  margin-top: calc(var(--default-padding) / 2);
}

.online,
.creator {
  font-size: var(--activity-profile-font-size);
  line-height: 20px;
  margin-top: var(--default-padding-small);
  color: var(--activity-profile-text-color-light);
}

.actions {
  margin-top: var(--default-padding-large);
}

.button {
  margin: 0 5px;
}

.wrapper {
  margin-top: var(--default-padding);
  padding-top: var(--default-padding);
  border-top: 1px solid #e5e5e5;
}

.title {
  letter-spacing: -0.27px;
  font-size: var(--default-font-size-small);
  line-height: 20px;
  color: var(--activity-profile-text-color-light);
}

.contactContent {
  margin-top: var(--default-padding-small);

  &:first-child {
    margin-top: 0;
  }
}

.contactLinkWrapper {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contactLink {
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-font-size);
  line-height: 16px;
  display: inline-block;
  color: var(--activity-profile-contact-font-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--activity-profile-contact-font-color);
  transition: color var(--default-transition-duration) ease;

  &:hover {
    color: color-mod(var(--color-info) tint(10%));
    border-bottom: 1px solid var(--activity-profile-contact-font-color);
  }
}
