/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-profile-font-family: var(--default-font-family);
  --activity-profile-padding-top: 25px;
  --activity-profile-padding-left: 25px;
  --activity-profile-padding-bottom: 25px;
  --activity-profile-padding-right: 25px;
  --activity-profile-text-color: #000;
  --activity-profile-text-light-color: color(#000 alpha(50%));
  --activity-profile-contact-content-color: var(--indigo);
  --activity-profile-title-font-size: 26px;
  --activity-profile-text-font-size: 16px;
}

.root {
  all: initial;
  display: flex;
  flex-direction: column;
  padding-top: var(--activity-profile-padding-top);
  padding-right: var(--activity-profile-padding-right);
  padding-bottom: var(--activity-profile-padding-bottom);
  padding-left: var(--activity-profile-padding-left);
  text-align: center;
  font-family: var(--activity-profile-font-family);
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  flex: 0 0 auto;
}

.name {
  margin-top: 18px;
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-title-font-size);
  line-height: 1.2;
  color: var(--activity-profile-text-color);
}

.nick,
.status,
.about {
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-text-font-size);
  line-height: 1.3;
  color: var(--activity-profile-text-color);
}

.nick {
  margin-top: 8px;
}

.online,
.creator {
  margin-top: 10px;
  color: var(--activity-profile-text-light-color);
}

.about {
  margin-top: 18px;
}

.aboutButton {
  margin: 0;
  padding: 6px;
  font-size: 16px;
  line-height: 20px;
}

.aboutAddIcon {
  margin-right: 8px;
  vertical-align: top;
  font-size: 22px;
  line-height: 20px;
  height: 20px;
  color: inherit !important;
  fill: inherit !important;
}

.actions {
  margin-top: 30px;
}

.button {
  margin: 0 7px;
}

.contacts {
  margin-top: 20px;
  text-align: center;
}

.contactTitle {
  letter-spacing: -0.27px;
  font-size: calc(var(--activity-profile-text-font-size) - 2);
  line-height: 22px;
  color: var(--activity-profile-text-light-color);
}

.contactContent {
  letter-spacing: -0.4px;
  font-size: var(--activity-profile-text-font-size);
  line-height: 22px;
  color: var(--activity-profile-contact-content-color);
}
