/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Styles */
.container {
  z-index: var(--z-index-call);
  width: var(--call-default-width);
  min-height: var(--call-default-height);
  background-color: var(--call-background-color);
  font-family: var(--default-font-family);
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  //padding: var(--call-default-padding) calc(var(--call-default-padding) / 2);
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.avatar {
  flex: 1 1 auto;
  padding-top: var(--call-default-padding);
}

.smallInfoWrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--default-padding);
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.smallInfoAvatar {
  margin-right: 14px;
  flex: 0 0 auto;
}

.hoverElement {
  display: flex;
  flex: 1 1 auto;
}

/* Small */
.small {
  position: absolute;
  display: flex;
  top: 50px;
  right: 50px;
  box-sizing: border-box;
  width: var(--call-small-width);
  height: var(--call-small-height);
  min-height: 0;
  cursor: grab;
  border-radius: 6px;
  background-color: var(--call-background-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
