@import '../../styles/variables.css';

.container {
}

.select {
  width: 100%;
  margin-bottom: var(--default-padding);
}

.inputWrapper {
  position: relative;
}

.retry {
  position: absolute;
  top: 32px;
  right: 0;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}
