@import '../../styles/variables.css';

.container {
}

.select {
  width: 100%;
  margin-bottom: var(--default-padding);
}

.inputWrapper {
  position: relative;
}

.retry {
  position: absolute;
  top: 32px;
  right: 0;
  font-family: var(--default-font-family);
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}

.dataProcessingAgreement {
  margin: 8px;
  color: #6d6c6f;
  font-family: var(--default-font-family);
  font-size: 14px;
}
