/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --modal-min-width: 500px;
  --modal-font-family: var(--default-font-family);
  --modal-font-size: var(--default-font-size);
  --modal-border-radius: var(--default-border-radius);
  --modal-overlay-color: color(#000 alpha(45%));
  --modal-close-color: color(#000 alpha(38%));
  --modal-background-color: #fff;
  --modal-fullscreen-background-color: #fff;
  --modal-header-font-size: 18px;
  --modal-header-color: #000;
}

:global {
  & .ReactModal__Body--open {
    overflow: hidden;
  }
}

.root {
  all: initial;
  display: flex;
  overflow: hidden;
  min-width: var(--modal-min-width);
  margin: calc(var(--default-padding) * 2);
  border-radius: var(--modal-border-radius);
  outline: none;
  background-color: var(--modal-background-color);
  box-shadow: 0 4px 10px 0 color(#000 alpha(25%));
  font-family: var(--modal-font-family);
}

.overlay {
  all: initial;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--modal-overlay-color);
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.close {
  cursor: pointer;
  user-select: none;
  color: var(--modal-close-color);
}

.header {
  position: relative;
  display: block;
  padding: var(--default-padding) calc(var(--default-padding) * 2);
  font-size: var(--modal-header-font-size);
  font-weight: 500;
  line-height: 28px;
  flex: 0 1 auto;
  color: var(--modal-header-color);

  & .close {
    position: absolute;
    top: var(--default-padding);
    right: calc(var(--default-padding) * 2);
    line-height: 28px;
  }

  &.border {
    box-shadow: inset 0 -1px 0 0 color(#000 alpha(20%));
  }
}

.body {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: var(--default-padding) calc(var(--default-padding) * 2);
  font-size: var(--modal-font-size);
  flex: 1 1 auto;
}

.footer {
  padding: var(--default-padding) calc(var(--default-padding) * 2);
  flex: 0 1 auto;

  &.border {
    box-shadow: inset 0 1px 0 0 color(#000 alpha(20%));
  }
}

.fullscreen {
  background-color: var(--modal-fullscreen-background-color);

  & .close {
    position: absolute;
    top: calc(var(--default-padding) * 2);
    right: calc(var(--default-padding) * 2);
    font-size: 32px;
    line-height: 1;
  }

  & .header {
    margin-top: 80px;
    padding: var(--default-padding) 0;
    box-shadow: none;
    font-size: calc(var(--modal-header-font-size) * 2);
    font-weight: 400;
    line-height: 1.5;
  }

  & .body {
    padding: 0;
  }

  & .root {
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;

    & .wrapper {
      overflow: scroll;
      width: auto;
      min-width: 600px;
      max-width: 800px;
      height: 100%;
      margin: 0 auto;
      flex: 0 1 auto;
    }
  }
}
