/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --discover-font-family: var(--default-font-family);
  --discover-background-color: #fff;
  --discover-title-font-size: 18px;
  --discover-title-color: #000;
  --discover-subtitle-font-size: var(--default-font-size-small);
  --discover-subtitle-color: var(--default-font-color-light);
  --discover-padding-top: 10px;
  --discover-padding-right: 20px;
  --discover-padding-bottom: 10px;
  --discover-padding-left: 20px;
  --discover-border-color: color-mod(#000 alpha(14%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  background-color: var(--discover-background-color);
  font-family: var(--discover-font-family);
}

.header {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--discover-padding-top);
  padding-right: var(--discover-padding-right);
  padding-bottom: var(--discover-padding-bottom);
  padding-left: var(--discover-padding-left);
  box-shadow: inset 0 -1px 0 0 var(--discover-border-color);
}

.headerText {
  flex: 1 1 auto;
  @mixin flex-fix;
}

.headerControls {
  flex: 0 0 auto;
}

.headerButton {
}

.title {
  font-size: var(--discover-title-font-size);
  display: inherit;
  vertical-align: middle;
  letter-spacing: -0.3px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  color: var(--discover-title-color);
  @mixin text-overflow-ellipsis;
}

.subTitle {
  font-weight: 400;
  margin: 0;
  font-size: var(--discover-subtitle-font-size);
  vertical-align: middle;
  letter-spacing: -0.2px;
  line-height: 18px;
  color: var(--discover-subtitle-color);
  @mixin text-overflow-ellipsis;
}

.cards {
  display: flex;
  flex: 1 1 auto;
  @mixin flex-fix;
  overflow: auto;
  flex-flow: row wrap;
  padding: calc(var(--default-padding) / 2);
  box-sizing: border-box;
}

.cardWrapper {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: calc(var(--default-padding) / 2);
  box-sizing: border-box;

  @media (--medium) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media (--small) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
