/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --markdown-text-padding: 6px;
  --markdown-pre-font-size: 12px;
}

.container,
.inline {
  font-family: var(--default-font-family);
}

.pre {
  font-family: var(--code-font-family);
  overflow: auto;
  margin: var(--markdown-text-padding) calc(0 - var(--markdown-text-padding));
  padding: var(--markdown-text-padding);
  white-space: pre;
  word-wrap: normal;
  border-radius: var(--default-border-radius);
  background-color: color(#000 alpha(5%));
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  font-size: var(--markdown-pre-font-size);
  line-height: 1.5;
  vertical-align: inherit;

  & code {
    font-family: var(--code-font-family);
  }
}

.paragraph {
  margin: var(--markdown-text-padding) 0;
  word-wrap: break-word;
  line-height: inherit;
  vertical-align: baseline;

  & span {
    vertical-align: inherit;
  }
}

.blockquote {
  margin: calc(var(--markdown-text-padding) + 2) 0;
  padding: 4px 12px;
  box-shadow: inset 3px 0 0 0 var(--color-info);
}

.pre,
.paragraph,
.blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.code {
  padding: 1px 2px;
  margin: -1px -2px;
  font-size: var(--default-font-size-small);
  border-radius: var(--default-border-radius-small);
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  background-color: color(#000 alpha(7.5%));
  font-family: var(--code-font-family);
  display: inline-block;
  box-sizing: border-box;
  vertical-align: inherit;
  line-height: 1.4;
  word-break: break-word;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
  border-bottom: 1px dotted var(--color-info);
  color: var(--color-info);
  vertical-align: inherit;

  &:hover {
    border-bottom: 1px solid var(--color-info);
  }
}

.mention {
  display: inline-block;
  padding: 1px 2px;
  margin: -1px;
  box-sizing: border-box;
  border-radius: var(--default-border-radius-small);
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  background-color: color(var(--color-primary) alpha(10%));
  vertical-align: inherit;
}
