/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  all: initial;
  display: flex;
  flex-direction: column;

  /*padding-top: var(--sidebar-group-padding-top);*/
  /*padding-bottom: var(--sidebar-group-padding-bottom);*/
  flex-wrap: nowrap;
}

.title {
  display: inline-block;
  padding: var(--sidebar-group-title-padding-top) var(--sidebar-group-title-padding-left);
  cursor: default;
  user-select: none;
  vertical-align: top;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-family: var(--sidebar-group-title-font-family);
  font-size: var(--sidebar-group-title-font-size);
  font-weight: 500;
  line-height: var(--sidebar-group-title-line-height);
  color: var(--sidebar-group-title-color);
}
