/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-invite-font-family: var(--default-font-family);
}

/* Styles */
.container {
  display: flex;
  flex-direction: row;
  font-family: var(--activity-invite-font-family);
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.icon {
  margin-right: 14px;
  cursor: inherit;
  flex: 0 0 auto;
}

.text {
  letter-spacing: -0.4px;
  font-size: 16px;
  line-height: 1.2;
  flex: 1 1 auto;
}

.arrow {
  color: var(--cool-grey);
  flex: 0 0 auto;
}
