/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  min-height: var(--activity-header-height);
  font-family: var(--activity-font-family);
  font-size: var(--activity-header-font-size);
  font-weight: 500;
  line-height: 28px;
  flex: 1 1 auto;
  padding: var(--default-padding) 40px;
  text-align: center;
  letter-spacing: -0.3px;
  @apply --no-select;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 17px;
  width: var(--activity-header-icon-size);
  height: var(--activity-header-icon-size);
  transition: color var(--activity-header-transition-duration) linear;
  fill: var(--activity-header-icon-color);

  &:hover {
    fill: var(--activity-header-icon-color-hover);
  }
}

.iconBack {
  left: 20px;
  composes: icon;
}

.iconClose {
  right: 20px;
  composes: icon;
}
