/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --pad-footer-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--pad-footer-font-family);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
}

.wrapper {
  padding: 15px 0;
  margin-top: -15px;
  width: 33.3%;
  text-align: center;
}