/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.image {
  display: inline-block;
  overflow: hidden;
  width: var(--emoji-size);
  height: var(--emoji-size);
  cursor: inherit;
  vertical-align: middle;
  background-size: 100%;

  /* hide emoji char */
  color: transparent !important;
  text-shadow: none;
}

.char {
  text-align: center;
  vertical-align: middle;
  font-family: var(--emoji-font-family);
  font-size: var(--emoji-font-size);
  font-weight: normal;
  line-height: var(--emoji-line-height);
  text-size-adjust: 100%;
}
