/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --emoji-size: 32px;
  --emoji-font-size: 24px;
  --emoji-font-family: var(--font-emoji);
}

.image {
  display: inline-block;
  width: var(--emoji-size);
  height: var(--emoji-size);
  background-size: 100%;
  vertical-align: middle;
  overflow: hidden;
  cursor: inherit;

  /* hide emoji char */
  color: transparent !important;
  text-shadow: none;
}

.char {
  box-sizing: border-box;
  text-size-adjust: 100%;
  vertical-align: middle;
  word-wrap: break-word;
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  font-family: var(--emoji-font-family);
  font-size: var(--emoji-font-size);
  width: var(--emoji-font-size);
  height: var(--emoji-font-size);
  line-height: var(--emoji-font-size);
  font-weight: normal;
}
