@import '../../styles/variables.css';

.container {
  all: initial;
  display: inline-block;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #bababa;
  font-family: var(--default-font-family);
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
}
