body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #fff;
    background-color: #6b00cb;

    &:vertical {
      border-top-width: 0;
      border-bottom-width: 0;
      min-height: 40px;

      &:active {
        border-left-width: 2px;
        border-right-width: 2px;
      }
    }

    &:horizontal {
      border-left-width: 0;
      border-right-width: 0;
      min-width: 40px;

      &:active {
        border-top-width: 2px;
        border-bottom-width: 2px;
      }
    }
  }
}

hr {
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  display: block;
  border: 0;
  background-color: color-mod(#000 alpha(10%));
}

:global(.styleguide__buttons) {
  & :global(.Button__container),
  & :global(.ButtonNext__container),
  & :global(.IconButton__container) {
    margin: 4px !important;
  }
}

:global(.WelcomeMessage__button) {
  padding: 8px 0 !important;
  display: inline-flex !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 30px !important;
  font-size: 16px !important;

  & :global(.WelcomeMessage__button__icon) {
    margin-right: 6px !important;
    color: currentColor !important;
  }
}
