/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --peer-avatar-text-color: #fff;
  --peer-avatar-text-font-size: 38px;
  --peer-avatar-unset-color: var(--color-success);
  --peer-avatar-away-color: var(--color-warning);
  --peer-avatar-dnd-color: var(--color-danger);
}

.container {
  position: relative;
  display: inline-flex;
  cursor: inherit;
}

.unset {
  fill: var(--peer-avatar-unset-color);
}

.away {
  fill: var(--peer-avatar-away-color);
}

.do_not_disturb {
  fill: var(--peer-avatar-dnd-color);
}

.text {
  color: var(--peer-avatar-text-color);
  font-family: var(--default-font-family);
  font-size: var(--peer-avatar-text-font-size);
  letter-spacing: 2px;
  fill: currentColor;
  text-transform: uppercase;
  user-select: none;
  cursor: inherit;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}
