/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

.container {
  border-radius: var(--location-border-radius);
  line-height: 0;
  box-shadow: 0 0 0 1px var(--location-border-color);
}
