/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --archive-font-family: var(--default-font-family);
  --archive-button-height: 40px;
  --archive-button-background-color: #e2e2e2;
  --archive-button-color: color(#000 alpha(55%));
  --archive-transition-duration: var(--default-transition-duration);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--archive-font-family);
}

.opened {
  & .button {
    bottom: 100%;
    margin-bottom: calc(0 - var(--archive-button-height));
  }
}

.archive {
  padding-top: var(--archive-button-height);

}

.button {
  transition: all var(--archive-transition-duration) ease;
  position: absolute;
  height: var(--archive-button-height);
  background-color: var(--archive-button-background-color);
  width: 100%;
  color: var(--archive-button-color);
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;
}

.enter {
  opacity: 0.01;
  transform: translateX(150px);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all var(--archive-transition-duration) 50ms linear;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0.01;
  transition: all 50ms linear;
}
