/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.image,
.placeholder {
  all: initial;
}

.image {
  display: inline-block;
  user-select: none;
  pointer-events: none;
  border-radius: 100%;
  box-shadow: 0 0 1px color(#000 alpha(12%));
}

.placeholder {
  display: inline-flex;
  overflow: hidden;
  cursor: default;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 100%;
  font-family: var(--default-font-family);
  font-weight: 300;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--avatar-placeholder-color);
}

.clickable {
  display: inline-block;
  cursor: pointer;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

/* Placeholder colors */
.empty {
  background-color: var(--avatar-empty-background-color);
  background-image: var(--avatar-empty-gradient);
}

.lblue {
  background-color: var(--avatar-lblue-background-color);
  background-image: var(--avatar-lblue-gradient);
}

.blue {
  background-color: var(--avatar-blue-background-color);
  background-image: var(--avatar-blue-gradient);
}

.purple {
  background-color: var(--avatar-purple-background-color);
  background-image: var(--avatar-purple-gradient);
}

.red {
  background-color: var(--avatar-red-background-color);
  background-image: var(--avatar-red-gradient);
}

.orange {
  background-color: var(--avatar-orange-background-color);
  background-image: var(--avatar-orange-gradient);
}

.yellow {
  background-color: var(--avatar-yellow-background-color);
  background-image: var(--avatar-yellow-gradient);
}

.green {
  background-color: var(--avatar-green-background-color);
  background-image: var(--avatar-green-gradient);
}
