@import '../../styles/variables.css';

:root {
  /* Sizes */
  --avatar-tiny-size: 14px;
  --avatar-small-size: 22px;
  --avatar-medium-size: 28px;
  --avatar-large-size: 36px;
  --avatar-big-size: 100px;

  /* Colors */
  --avatar-empty-background-color: #757575;
  --avatar-lblue-background-color: var(--sky-blue);
  --avatar-blue-background-color: var(--cerulean);
  --avatar-purple-background-color: var(--purple-blue);
  --avatar-red-background-color: var(--neon-red);
  --avatar-orange-background-color: var(--red-orange-two);
  --avatar-yellow-background-color: var(--marigold);
  --avatar-green-background-color: var(--green);

  /* Gradients */
  --avatar-empty-gradient: linear-gradient(38deg, #bebebe, #757575);
  --avatar-lblue-gradient: none;
  --avatar-blue-gradient: linear-gradient(38deg, var(--aqua), var(--cerulean));
  --avatar-purple-gradient: none;
  --avatar-red-gradient: none;
  --avatar-orange-gradient: linear-gradient(38deg, var(--marigold), var(--red-orange-two));
  --avatar-yellow-gradient: none;
  --avatar-green-gradient: linear-gradient(38deg, var(--kiwi), var(--green));
}

.image,
.placeholder {
  all: initial;
}

.image {
  display: inline-block;
  user-select: none;
  border-radius: 100%;
  box-shadow: 0 0 1px color(#000 alpha(10%));
}

.placeholder {
  display: inline-flex;
  cursor: default;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 100%;
  font-family: var(--default-font-family);
  font-weight: 300;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.clickable {
  cursor: pointer;
  transition: opacity 150ms ease-out;

  &:hover {
    opacity: 0.9;
  }
}

/* Sizes */
.tiny {
  width: var(--avatar-tiny-size);
  height: var(--avatar-tiny-size);
}

.small {
  width: var(--avatar-small-size);
  height: var(--avatar-small-size);
  font-size: 12px;

  &.twoChars {
    font-size: 10px;
  }
}

.medium {
  width: var(--avatar-medium-size);
  height: var(--avatar-medium-size);
  font-size: 18px;

  &.twoChars {
    font-size: 15px;
  }
}

.large {
  width: var(--avatar-large-size);
  height: var(--avatar-large-size);
  font-size: 20px;

  &.twoChars {
    font-size: 17px;
  }
}

.big {
  width: var(--avatar-big-size);
  height: var(--avatar-big-size);
  font-size: 30px;
}

/* Placeholder colors */
.empty {
  background-color: var(--avatar-empty-background-color);
  background-image: var(--avatar-empty-gradient);
}

.lblue {
  background-color: var(--avatar-lblue-background-color);
  background-image: var(--avatar-lblue-gradient);
}

.blue {
  background-color: var(--avatar-blue-background-color);
  background-image: var(--avatar-blue-gradient);
}

.purple {
  background-color: var(--avatar-purple-background-color);
  background-image: var(--avatar-purple-gradient);
}

.red {
  background-color: var(--avatar-red-background-color);
  background-image: var(--avatar-red-gradient);
}

.orange {
  background-color: var(--avatar-orange-background-color);
  background-image: var(--avatar-orange-gradient);
}

.yellow {
  background-color: var(--avatar-yellow-background-color);
  background-image: var(--avatar-yellow-gradient)
}

.green {
  background-color: var(--avatar-green-background-color);
  background-image: var(--avatar-green-gradient);
}
