/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.image,
.placeholder {
  all: initial;
}

.image {
  display: inline-block;
  user-select: none;
  pointer-events: none;
  border-radius: 100%;
  line-height: 1px;
  box-shadow: 0 0 1px color(#000 alpha(12%));
}

.placeholder {
  display: inline-flex;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 100%;
  font-family: var(--default-font-family);
  font-weight: 300;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--avatar-placeholder-color);
  @apply --no-select;
}

.clickable {
  cursor: pointer;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}
