/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --tooltip-font-family: var(--default-font-family);
  --tooltip-font-size: 13px;
  --tooltip-background-color: color(#000 alpha(70%));
  --tooltip-color: #fff;
  --tooltip-offset: 3px;
}

/* Reset */
.tooltip {
  all: initial;
}

/* Styles */
.tooltip {
  font-family: var(--tooltip-font-family);
  font-size: var(--tooltip-font-size);
  color: var(--tooltip-color);
  display: inline-block;
  background-color: var(--tooltip-background-color);
  line-height: 20px;
  letter-spacing: -0.3px;
  text-align: center;
  padding: 3px 12px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: var(--tooltip-offset);
  @apply --no-select;
}
