/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-media-interactive-font-family: var(--default-font-family);
  --message-media-interactive-label-font-size: 16px;
}

/* Reset */
.widget {
  all: initial;
}

/* Styles */
.widget {
  font-family: var(--message-media-interactive-font-family);
  display: inline-flex;
  flex: 0 0 auto;
  margin: 4px 8px 4px 0;
}

.select {
  margin: 0 !important;
}

.selectWrapper {
  width: auto !important;
}

.button {}
