/*
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  height: var(--voice-height);
  flex-direction: row;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  border-radius: var(--voice-border-radius);
  background-color: var(--voice-background-color);
  box-shadow: 0 0 0 1px var(--voice-border-color);
  font-family: var(--voice-font-family);
  padding: var(--voice-padding);
  position: relative;
}

.player {
  display: flex;
  flex: 1 1 auto;
}

.playerControls {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  flex: 1 1 auto;
}

.playerControlsText {
  flex: 1 1 auto;
}

.playerTime {
  display: flex;
  letter-spacing: -0.3px;
  font-size: 13px;
  line-height: 20px;
  flex: 1 1 auto;
  font-family: var(--voice-font-family);
  color: color(#000 alpha(60%));
}

.seeker {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 6px;
  background-color: color(var(--color-primary) alpha(10%));
}

.seekerPlayed {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 100ms linear;
  background-color: var(--color-primary);
}

.uploading {
  opacity: 0.7;
  position: relative;
  cursor: default !important;
  pointer-events: none;
}

.spinner {
  display: none;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 1;
  height: 46px !important;
  width: 46px !important;
}

.error {
  color: var(--color-danger);

  & .seeker {
    background-color: color(var(--color-danger) alpha(10%));
  }

  & .seekerPlayed {
    background-color: var(--color-danger);
  }
}
