/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';


.container {
  all: initial;
}

.container {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  transition: all var(--default-transition-duration) ease;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;

  /* flexbox fix for safari */
  /* based on http://stackoverflow.com/a/40483475/1661138 */
  &::before,
  &::after {
    content: '';
    flex: 1 1 auto;
    @apply --flex-fix;
  }
}

.fix {
  /* flexbox fix for safari */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row;
}

.icon {
  cursor: inherit;
  transition: all var(--default-transition-duration) ease;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.7;

  &.defaultStyle {
    background-color: var(--icon-button-background-color) !important;
    box-shadow: inset 0 0 0 1px color(#000 alpha(20%)), 0 1px 2px 0 color(#000 alpha(10%)) !important;

    & .icon {
      fill: var(--icon-button-default-color) !important;
    }
  }

  &.flat {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 var(--icon-button-flat-border-width) var(--icon-button-flat-color) !important;

    & .icon {
      fill: var(--icon-button-flat-color) !important;
    }
  }
}

.active {
  & .icon {
    fill: var(--icon-button-hover-color) !important;
  }
}

/* Styles */
.defaultStyle {
  background-color: var(--icon-button-background-color);
  box-shadow: inset 0 0 0 1px color(#000 alpha(20%)), 0 1px 2px 0 color(#000 alpha(10%));

  & .icon {
    fill: var(--icon-button-default-color);
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px color(#000 alpha(30%)), 0 2px 4px 0 color(#000 alpha(25%));

    & .icon {
      fill: var(--icon-button-hover-color);
    }
  }

  &:active {
    box-shadow: inset 0 0 0 1px color(#000 alpha(30%)), 0 1px 1px 0 color(#000 alpha(25%));

    & .icon {
      fill: var(--icon-button-hover-color);
    }
  }
}


/* Sizes */

.normal {
  &.defaultStyle {
    width: var(--icon-button-default-size);
    height: var(--icon-button-default-size);

    & .icon {
      width: var(--icon-button-glyph-size);
      font-size: var(--icon-button-glyph-size);
    }
  }

  &.flat {
    width: var(--icon-button-flat-default-size);
    height: var(--icon-button-flat-default-size);
  }
}

.large {
  &.defaultStyle {
    width: var(--icon-button-large-size);
    height: var(--icon-button-large-size);

    & .icon {
      width: var(--icon-button-glyph-size-large);
      height: var(--icon-button-glyph-size-large);
      font-size: var(--icon-button-glyph-size-large);
      line-height: 1;
    }
  }

  &.flat {
    width: var(--icon-button-flat-large-size);
    height: var(--icon-button-flat-large-size);

    & .icon {
      width: calc(var(--icon-button-glyph-size-large) * 1.2);
      height: calc(var(--icon-button-glyph-size-large) * 1.2);
      font-size: calc(var(--icon-button-glyph-size-large) * 1.2);
      line-height: 1;
    }
  }
}

/* Themes */
.flat {
  &.default {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--icon-button-flat-border-width) var(--icon-button-flat-color);

    & .icon {
      fill: var(--icon-button-flat-color);
    }

    &:hover,
    &:focus {
      background-color: var(--icon-button-flat-hover-background-color);
      box-shadow: inset 0 0 0 var(--icon-button-flat-border-width) var(--icon-button-flat-hover-background-color);

      & .icon {
        fill: var(--icon-button-flat-color-hover);
      }
    }

    &:active {
      background-color: color(var(--icon-button-flat-hover-background-color) shade(5%));
    }
  }

  &.primary {
    background-color: var(--color-primary);

    & .icon {
      fill: var(--icon-button-flat-color-hover);
    }

    &:hover,
    &:focus {
      background-color: color(var(--color-primary) tint(10%));
    }

    &:active {
      background-color: color(var(--color-primary) shade(5%));
    }
  }

  &.success {
    background-color: var(--color-success);

    & .icon {
      fill: var(--icon-button-flat-color-hover);
    }

    &:hover,
    &:focus {
      background-color: color(var(--color-success) tint(10%));
    }

    &:active {
      background-color: color(var(--color-success) shade(5%));
    }
  }

  &.danger {
    background-color: var(--color-danger);

    & .icon {
      fill: var(--icon-button-flat-color-hover);
    }

    &:hover,
    &:focus {
      background-color: color(var(--color-danger) tint(10%));
    }

    &:active {
      background-color: color(var(--color-danger) shade(5%));
    }
  }

  &.info {
    background-color: var(--color-info);

    & .icon {
      fill: var(--icon-button-flat-color-hover);
    }

    &:hover,
    &:focus {
      background-color: color(var(--color-info) tint(10%));
    }

    &:active {
      background-color: color(var(--color-info) shade(5%));
    }
  }

  &.warning {
    background-color: var(--color-warning);

    & .icon {
      fill: var(--icon-button-flat-color-hover);
    }

    &:hover,
    &:focus {
      background-color: color(var(--color-warning) tint(10%));
    }

    &:active {
      background-color: color(var(--color-warning) shade(5%));
    }
  }
}
