/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  display: flex;
  flex-direction: column;
  font-family: var(--activity-font-family);
}

.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  user-select: none;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.icon {
  margin-right: var(--default-padding-small);
  cursor: inherit;
}

.text {
  flex: 1 1 auto;
}

.arrow {
  cursor: inherit;
  color: var(--activity-list-arrow-color) !important;
  stroke: var(--activity-list-arrow-color) !important;
  fill: var(--activity-list-arrow-color) !important;
}

.members {
  display: flex;
  flex-direction: column;

  &::before {
    display: none;
  }
}

.listItem {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 52px;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 42px;
    height: 1px;
    content: '';
    background-color: var(--activity-border-color);
  }

  &:first-child {
    &::before {
      display: none;
    }
  }
}

.addMember {
  composes: listItem;

  & .title,
  & .addMemberIcon {
    cursor: pointer;
    color: var(--color-primary);
    stroke: var(--color-primary);
    fill: var(--color-primary);
  }
}

.addMemberIcon {
  width: 28px;
  height: 28px;
  margin-right: var(--default-padding-small);
  font-size: 28px;
  flex: 0 0 auto;
}

.member {
  composes: listItem;
}

.avatarBlock {
  padding-right: var(--default-padding-small);
  flex: 0 0 auto;
  line-height: 0;
}

.avatar {
  cursor: pointer;
}

.body {
  flex: 1 1 auto;
  @apply --flex-fix;
}

.title {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  letter-spacing: -0.4px;
  font-size: var(--activity-font-size);
  line-height: 22px;
  color: var(--activity-font-color);
}

.kickMember {
  cursor: pointer;
  user-select: none;
  font-size: var(--default-font-size-small);
  flex: 0 0 auto;
  color: var(--color-primary);
}

.kickMemberPending {
  margin-right: 8px;
}

.kickMemberError {
  color: var(--color-danger);
}
