@import '../../styles/variables.css';

:root {
  --switcher-width: 32px;
  --switcher-height: 20px;
  --switcher-border-radius: calc(var(--switcher-height) / 2);
  --switcher-dot-size: 16px;
  --switcher-background-color: #b8b8b8;
  --switcher-active-background-color: #ccc;
  --switcher-checked-background-color: #4cd964;
  --switcher-checked-active-background-color: #59ee72;
  --switcher-dot-color: #fff;
  --switcher-active-dot-color: #f6fff7;
  --switcher-transition-duration: var(--default-transition-duration);
  --switcher-label-font-family: var(--default-font-family);
  --switcher-label-font-size: 16px;
  /* Too wide =( */
  --switcher-active-offset: calc(var(--switcher-width) - var(--switcher-dot-size) - ((var(--switcher-height) - var(--switcher-dot-size)) / 2)); /* stylelint-disable-line */
}

.container,
.switcher,
.label {
  all: initial;
}

.container {
  display: inline-flex;
  box-sizing: border-box;
  height: var(--switcher-height);
  vertical-align: middle;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.input {
  display: none;
}

.switcher {
  position: relative;
  flex: 0 0 auto;
  display: block;
  box-sizing: border-box;
  width: var(--switcher-width);
  height: var(--switcher-height);
  cursor: pointer;
  user-select: none;
  transition: background var(--switcher-transition-duration) ease;
  border-radius: var(--switcher-border-radius);
  background-color: var(--switcher-background-color);

  &::before {
    position: absolute;
    top: calc((var(--switcher-height) - var(--switcher-dot-size)) / 2);
    left: calc((var(--switcher-height) - var(--switcher-dot-size)) / 2);
    display: block;
    width: var(--switcher-dot-size);
    height: var(--switcher-dot-size);
    content: '';
    transition: background var(--switcher-transition-duration) ease, left var(--switcher-transition-duration) ease, box-shadow var(--switcher-transition-duration) ease;
    border-radius: 100%;
    background-color: var(--switcher-dot-color);
  }

  &:hover {
    background-color: var(--switcher-active-background-color);

    &::before {
      background-color: color(var(--switcher-dot-color) alpha(98%));
      box-shadow: 0 2px 2px 0 color(#000 alpha(30%));
    }
  }

  &:active {
    background-color: var(--switcher-active-background-color);

    &::before {
      background-color: var(--switcher-active-dot-color);
      box-shadow: 0 1px 0 0 color(#000 alpha(30%));
    }
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;

  & .switcher {
    cursor: not-allowed;
    background-color: var(--switcher-background-color) !important;

    &::before {
      background-color: var(--switcher-dot-color);
      box-shadow: none;
    }
  }

  &.checked {
    & .switcher {
      background-color: var(--switcher-checked-background-color) !important;
    }
  }
}

.checked {
  & .switcher {
    background-color: var(--switcher-checked-background-color);

    &::before {
      left: var(--switcher-active-offset);
      background-color: var(--switcher-active-dot-color);
    }

    &:hover {
      background-color: var(--switcher-checked-active-background-color);
    }
  }
}

.label {
  font-family: var(--switcher-label-font-family);
  font-size: var(--switcher-label-font-size);
  display: inline;
  padding-left: 8px;
  user-select: none;
  cursor: pointer;
}
