@import '../../../styles/variables.css';

:root {
  --message-photo-max-width: 400px;
  --message-photo-max-height: 300px;
  --message-photo-border-raduis: var(--default-border-radius);
}

.root {
  overflow: hidden;
  max-width: var(--message-photo-max-width);
  max-height: var(--message-photo-max-height);
  border: 0;
  border-radius: var(--message-photo-border-raduis);
}

.portrait {
  width: auto;
  height: 100%;
}

.landscape {
  width: 100%;
  height: auto;
}

.square {
  width: auto;
  height: auto;
}
