@import '../../../../styles/variables.css';

:root {
  --message-text-color: #000;
  --message-text-font-size: var(--default-font-size);
}

.root {
  all: initial;
  display: inline-block;
  user-select: text;
  color: var(--message-text-color);
  letter-spacing: -0.3px;
  font-family: var(--default-font-family);
  font-size: var(--message-text-font-size);
  line-height: 1.3;
}
