/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --message-font-family: var(--default-font-family);
  --message-vertical-padding: 8px;
  --message-horizontal-padding: 20px;
  --message-small-vertical-padding: 6px;
  --message-small-horizontal-padding: 20px;
  --message-hover-background-color: color(#f2f2f2 alpha(65%));
  --message-username-color: color(#000 alpha(60%));
  --message-timestamp-color: color(#000 alpha(60%));
  --message-error-color: color(var(--color-error) alpha(7.5%));
  --message-error-hover-color: color(var(--color-error) alpha(10%));
  --message-unread-color: color(#f2f2f2 alpha(25%));
  --message-state-border-width: 3px;
  --mesage-transition-duration: var(--default-transition-duration);
}

.container {
  all: initial;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--message-vertical-padding) var(--message-horizontal-padding);
  font-family: var(--message-font-family);
  transition: box-shadow var(--mesage-transition-duration) ease-in-out, opacity var(--mesage-transition-duration) ease-in;

  &:hover {
    & .actions {
      display: block;
    }
  }
}

.avatar {
  flex: 0 0 auto;
}

.info {
  width: 60px;
  box-sizing: border-box;
  padding-right: 20px;
  text-align: center;
  display: block;
  line-height: 0;
  flex: 0 0 auto;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
  @apply --flex-fix;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  vertical-align: bottom;
  margin-bottom: 4px;
}

.sender {
  display: inline-block;
  height: 20px;
  letter-spacing: -0.3px;
  line-height: 20px;
  margin-right: 6px;
  vertical-align: bottom;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  @apply --no-select;
  vertical-align: bottom;
}

.username {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  line-height: 20px;
  color: var(--message-username-color);
  @apply --no-select;
}

.content {
  line-height: 0;
  flex: 0 0 auto;
}

.actions {
  position: absolute;
  top: -18px;
  right: var(--message-horizontal-padding);
  display: none;
}

.clickable {
  cursor: pointer !important;
}

.pending {
  opacity: 0.6;
}

.unread {
  background-color: var(--message-unread-color);
  box-shadow: inset var(--message-state-border-width) 0 0 0 color(#000 alpha(20%));
}

.error {
  background-color: transparent;
  box-shadow: inset var(--message-state-border-width) 0 0 0 var(--color-danger);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    var(--message-error-color) 5px,
    var(--message-error-color) 10px
  );

  &:hover {
    background-color: transparent !important;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      var(--message-error-hover-color) 5px,
      var(--message-error-hover-color) 10px
    );
  }
}

.hover {
  background-color: var(--message-hover-background-color) !important;
}

.stateShort {
  display: inline-block;
  line-height: 20px;
}
