/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

.container {
  all: initial;
  display: inline-block;
  max-width: 100%;
  user-select: text;
  letter-spacing: -0.3px;
  font-family: var(--default-font-family);
  font-size: var(--message-text-font-size);
  line-height: 20px;
  color: var(--message-text-color);
}

.wrapper {
  display: block;
  margin-bottom: var(--message-text-padding);
}

.service {
  color: var(--message-service-color);
}

.pending {
  color: color(var(--message-text-color) alpha(60%));
}
