/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --recent-item-default-top-padding: 9px;
  --recent-item-default-right-padding: 16px;
  --recent-item-default-bottom-padding: 9px;
  --recent-item-default-left-padding: 16px;
  --recent-item-default-height: 46px;
  --recent-item-default-color: color(#000 alpha(50%));
  --recent-item-large-top-padding: 15px;
  --recent-item-large-right-padding: 12px;
  --recent-item-large-bottom-padding: 15px;
  --recent-item-large-left-padding: 12px;
  --recent-item-large-height: 66px;
  --recent-item-hover-background-color: #e2e2e2;
  --recent-item-hover-color: #000;
  --recent-item-active-background-color: var(--violet-blue);
  --recent-item-active-background-gradient: linear-gradient(90deg, var(--violet-blue), var(--vibrant-purple));
  --recent-item-active-color: #fff;
  --recent-item-counter-background: var(--purple-two);
  --recent-item-counter-color: #fff;
  --recent-item-counter-size: 19px;
  --recent-item-counter-font-size: 10px;
}

.root {
  all: initial;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: var(--recent-item-default-height);
  padding-top: var(--recent-item-default-top-padding);
  padding-right: var(--recent-item-default-right-padding);
  padding-bottom: var(--recent-item-default-bottom-padding);
  padding-left: var(--recent-item-default-left-padding);
  cursor: pointer;
  user-select: none;
  font-family: var(--default-font-family);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  color: var(--recent-item-default-color);

  &:hover {
    background-color: var(--recent-item-hover-background-color);
    color: var(--recent-item-hover-color);
  }

  & .avatar {
    margin-right: 14px;
    flex: 0 0 auto;
    align-self: auto;
  }
}

.text {
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
  align-self: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.title {
  vertical-align: middle;
  letter-spacing: -0.27px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;

  @apply --text-overflow-ellipsis;
}

.message {
  vertical-align: middle;
  letter-spacing: -0.25px;
  font-size: 15px;
  line-height: 22px;

  @apply --text-overflow-ellipsis;
}

.counter {
  display: flex;
  width: var(--recent-item-counter-size);
  height: var(--recent-item-counter-size);
  border-radius: 50%;
  background-color: var(--recent-item-counter-background);
  font-family: var(--default-font-family);
  font-size: var(--recent-item-counter-font-size);
  font-weight: 500;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--recent-item-counter-color);
}

.unread {
  color: #000;
}

/* State */
.active {
  background-color: var(--recent-item-active-background-color);
  background-image: var(--recent-item-active-background-gradient);
  color: var(--recent-item-active-color);

  &:hover {
    color: var(--recent-item-active-color);
  }
}

/* Sizes */
.large {
  height: var(--recent-item-large-height);
  padding-top: var(--recent-item-large-top-padding);
  padding-right: var(--recent-item-large-right-padding);
  padding-bottom: var(--recent-item-large-bottom-padding);
  padding-left: var(--recent-item-large-left-padding);

  & .avatar {
    margin-right: 10px;
    flex: 0 0 auto;
    align-self: auto;
  }
}
