/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: color(#000 alpha(45%));
  padding: 10px var(--default-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  z-index: calc(var(--z-index-call) + 10);
  transition: opacity 150ms ease;
}

.toggleSize {
  margin: 10px 6px;
  fill: #fff;
}

.small {
  & .toggleSize {
    margin: 3px;
  }
}

.hide {
  opacity: 0;
}
