/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --activity-list-font-family: var(--default-font-family);
  --activity-list-item-hover-background-color: #f2f2f2;
  --activity-list-item-border-color: color(#000 alpha(10%));
  --activity-list-item-padding: 30px;
}

.container {
  all: initial;
}

.container {
  font-family: var(--activity-list-font-family);
}

.item {
  display: flex;
  flex-direction: row;
  min-height: 56px;
  padding: 0 var(--activity-list-item-padding);
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: relative;
  background-color: transparent;
  cursor: default;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: var(--activity-list-item-padding);
    right: var(--activity-list-item-padding);
    height: 1px;
    background-color: var(--activity-list-item-border-color);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
    display: none;
  }

  &:last-child {
    &::after {
      display: block;
    }
  }
}

.clickable {
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--activity-list-item-hover-background-color);
  }
}
